@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/grid-toolbar/grid-toolbar-component';
@import '~igniteui-angular/lib/core/styles/components/grid-paginator/grid-paginator-component';
@import '~igniteui-angular/lib/core/styles/components/grid-summary/grid-summary-component';
@import '~igniteui-angular/lib/core/styles/components/grid-filtering/grid-filtering-component';
@import '~igniteui-angular/lib/core/styles/components/grid/grid-component';
@import '~igniteui-angular/lib/core/styles/components/grid-toolbar/grid-toolbar-theme';
@import '~igniteui-angular/lib/core/styles/components/grid-paginator/grid-paginator-theme';
@import '~igniteui-angular/lib/core/styles/components/grid-summary/grid-summary-theme';
@import '~igniteui-angular/lib/core/styles/components/grid-filtering/grid-filtering-theme';
@import '~igniteui-angular/lib/core/styles/components/grid/grid-theme';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/switch/switch-component';
@import '~igniteui-angular/lib/core/styles/components/switch/switch-theme';
@import '~igniteui-angular/lib/core/styles/components/checkbox/checkbox-component';
@import '~igniteui-angular/lib/core/styles/components/checkbox/checkbox-theme';
@import '~igniteui-angular/lib/core/styles/components/badge/badge-component';
@import '~igniteui-angular/lib/core/styles/components/badge/badge-theme';
@import '~igniteui-angular/lib/core/styles/components/avatar/avatar-component';
@import '~igniteui-angular/lib/core/styles/components/avatar/avatar-theme';
@import '~igniteui-angular/lib/core/styles/components/progress/progress-component';
@import '~igniteui-angular/lib/core/styles/components/progress/progress-theme';
@import '~igniteui-angular/lib/core/styles/components/list/list-component';
@import '~igniteui-angular/lib/core/styles/components/list/list-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.budget-home {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {
height: 56px;
min-height: 56px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.budget-allocation-label {
color: igx-color($default-palette, grays, 900);
margin-top: 8px;
margin-left: 8px;

width: 172px;
min-width: 172px;
height: 80px;
min-height: 80px;

}
.unallocated-value {
color: igx-color($default-palette, secondary);
margin-left: 7px;

margin-top: 0px;
height: 40px;
min-height: 40px;

}
.group2 {
height: 40px;
min-height: 40px;
position: absolute;
top: 89px;
z-index: 0;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.total-value {
color: igx-color($default-palette, grays, 900);
position: absolute;
top: 25px;
left: 29px;
z-index: 2;

margin-top: 0px;
height: 40px;
min-height: 40px;

}
.unallocated {
color: igx-color($default-palette, secondary);
position: absolute;
top: 64px;
left: 87px;
z-index: 1;

margin-top: 0px;
height: 28px;
min-height: 28px;

}
.total {
color: igx-color($default-palette, grays, 900);
position: absolute;
left: 137px;
z-index: 3;

margin-top: 0px;
height: 28px;
min-height: 28px;

}
.values {
width: 174px;
min-width: 174px;
height: 129px;
min-height: 129px;
margin: 5px 6px 0 auto;

position: relative;
padding: 0;
}

.overview {
width: 360px;
min-width: 360px;
height: 144px;
min-height: 144px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
background-color: rgb(255, 255, 255);
}

.monthly-list-1 {
margin-top: 8px;

width: 361px;
min-width: 361px;
height: 553px;
min-height: 553px;

}
.monthly-list-2-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.monthly-list-2-info {
display: flex;
flex-direction: column;
flex: 1;
line-height: 18px;
}
.monthly-list-2-details {
display: flex;
flex-direction: column;
}
.monthly-list-3 {
width: 100%;
height: 48px;
min-height: 48px;

}
.monthly-list-4 {
width: 100%;
height: 72px;
min-height: 72px;

}
.list-itemtext {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-1 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-2 {
color: igx-color($default-palette, grays, 700);
}
.monthly-list-5 {
width: 100%;
height: 72px;
min-height: 72px;

}
.list-itemtext-3 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-4 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-5 {
color: igx-color($default-palette, grays, 700);
}
.monthly-list-6 {
width: 100%;
height: 72px;
min-height: 72px;

}
.list-itemtext-6 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-7 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-8 {
color: igx-color($default-palette, grays, 700);
}
.monthly-list-7 {
width: 100%;
height: 72px;
min-height: 72px;

}
.list-itemtext-9 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-10 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-11 {
color: igx-color($default-palette, grays, 700);
}
.monthly-list-8 {
width: 100%;
height: 72px;
min-height: 72px;

}
.list-itemtext-12 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-13 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-14 {
color: igx-color($default-palette, grays, 700);
}
.monthly-list-9 {
width: 100%;
height: 72px;
min-height: 72px;

}
.list-itemtext-15 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-16 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-17 {
color: igx-color($default-palette, grays, 700);
}
.monthly-list-10 {
width: 100%;
height: 72px;
min-height: 72px;

}
.list-itemtext-18 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-19 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-20 {
color: igx-color($default-palette, grays, 700);
}
.six-months-list-1 {
margin-top: 7px;

width: 361px;
min-width: 361px;
height: 193px;
min-height: 193px;

}
.six-months-list-2-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.six-months-list-2-info {
display: flex;
flex-direction: column;
flex: 1;
line-height: 18px;
}
.six-months-list-2-details {
display: flex;
flex-direction: column;
}
.six-months-list-3 {
width: 100%;
height: 48px;
min-height: 48px;

}
.six-months-list-4 {
width: 100%;
height: 72px;
min-height: 72px;

}
.list-itemtext-21 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-22 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-23 {
color: igx-color($default-palette, grays, 700);
}
.six-months-list-5 {
width: 100%;
height: 72px;
min-height: 72px;

}
.list-itemtext-24 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-25 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-26 {
color: igx-color($default-palette, grays, 700);
}
.budget {
width: 361px;
min-width: 361px;
height: 905px;
min-height: 905px;
margin-top: 12px;
margin-left: 32px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.current-period {
color: igx-color($default-palette, grays, 900);
margin: auto 0 auto 0;

width: 361px;
min-width: 361px;
height: 57px;
min-height: 57px;

text-align: right;
}
.badge-round-1 {
width: 22px;
min-width: 22px;
height: 22px;
min-height: 22px;

}
.date1 {

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.value {
color: igx-color($default-palette, grays, 900);
margin-top: 5px;
margin-right: 12px;

width: 100%;
height: 64px;
min-height: 64px;

text-align: right;
}
.main {
margin-top: 8px;
margin-left: 24px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.last-month {
color: igx-color($default-palette, grays, 700);
margin-top: 0px;
width: 120px;
min-width: 120px;
height: 22px;
min-height: 22px;

text-align: right;
}
.last-month-value {
color: rgba(100.00%,0, 0, 86.57%);
margin-top: 0px;
width: 160px;
min-width: 160px;
height: 22px;
min-height: 22px;

}
.last-month-row {

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.last-year {
color: igx-color($default-palette, grays, 700);
margin-top: 0px;
width: 120px;
min-width: 120px;
height: 22px;
min-height: 22px;

text-align: right;
}
.last-month-value-copy {
color: rgba(0, 70.20%,10.20%,1);
margin-top: 0px;
width: 160px;
min-width: 160px;
height: 22px;
min-height: 22px;

}
.last-year-row {
margin-top: 8px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.history-1 {
width: 320px;
min-width: 320px;
height: 52px;
min-height: 52px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.button-1 {
width: 240px;
min-width: 240px;
height: 36px;
min-height: 36px;

}
.details {
width: 576px;
min-width: 576px;
height: 52px;
min-height: 52px;
margin: 72px 24px 0 auto;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.overview-1 {
height: 144px;
min-height: 144px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
background-color: rgb(255, 255, 255);
}

.title {
color: rgb(255, 255, 255);
margin: auto 16px auto 16px;

width: 100%;
height: 25px;
min-height: 25px;

font-weight: 600;
}
.title-1 {
height: 50px;
min-height: 50px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: igx-color($default-palette, primary, 700);
}

.transactions {
height: 253px;
min-height: 253px;
margin-top: 8px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.info-1 {
margin-top: 12px;
margin-left: 15px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.home-screen {

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
background-color: rgba(igx-color($default-palette, primary, 100), 0.2);
}

$navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$unallocated-icon-theme: igx-icon-theme(
$color: igx-color($default-palette, secondary),
$size: 24px
);

$monthly-list-theme: igx-list-theme(
$header-background: igx-color($default-palette, primary, 700),
$header-text-color: rgb(255, 255, 255),
$item-text-color: igx-color($default-palette, grays, 700),
$item-background-active: rgb(255, 255, 255),
$background: rgb(255, 255, 255)
);

$monthly-listprogress-theme: igx-progress-linear-theme(
$stripes-color: rgba(0, 0, 0, 0),
$fill-color-default: igx-color($default-palette, primary),
$track-color: igx-color($default-palette, grays, 300)
);
$monthly-listprogress-1-theme: igx-progress-linear-theme(
$stripes-color: rgba(0, 0, 0, 0),
$fill-color-default: igx-color($default-palette, primary),
$track-color: igx-color($default-palette, grays, 300)
);
$monthly-listprogress-2-theme: igx-progress-linear-theme(
$stripes-color: rgba(0, 0, 0, 0),
$fill-color-default: igx-color($default-palette, primary),
$track-color: igx-color($default-palette, grays, 300)
);
$monthly-listprogress-3-theme: igx-progress-linear-theme(
$stripes-color: rgba(0, 0, 0, 0),
$fill-color-default: igx-color($default-palette, primary),
$track-color: igx-color($default-palette, grays, 300)
);
$monthly-listprogress-4-theme: igx-progress-linear-theme(
$stripes-color: rgba(0, 0, 0, 0),
$fill-color-default: igx-color($default-palette, primary),
$track-color: igx-color($default-palette, grays, 300)
);
$monthly-listprogress-5-theme: igx-progress-linear-theme(
$stripes-color: rgba(0, 0, 0, 0),
$fill-color-default: igx-color($default-palette, primary),
$track-color: igx-color($default-palette, grays, 300)
);
$monthly-listprogress-6-theme: igx-progress-linear-theme(
$stripes-color: rgba(0, 0, 0, 0),
$fill-color-default: igx-color($default-palette, error),
$track-color: igx-color($default-palette, grays, 300)
);
$six-months-list-theme: igx-list-theme(
$header-background: igx-color($default-palette, primary, 700),
$header-text-color: rgb(255, 255, 255),
$item-text-color: igx-color($default-palette, grays, 700),
$item-background-active: rgb(255, 255, 255),
$background: rgb(255, 255, 255)
);

$six-months-listprogress-theme: igx-progress-linear-theme(
$stripes-color: rgba(0, 0, 0, 0),
$fill-color-default: igx-color($default-palette, primary),
$track-color: igx-color($default-palette, grays, 300)
);
$six-months-listprogress-1-theme: igx-progress-linear-theme(
$stripes-color: rgba(0, 0, 0, 0),
$fill-color-default: igx-color($default-palette, primary),
$track-color: igx-color($default-palette, grays, 300)
);
$badge-round-theme: igx-badge-theme(
$disable-shadow: false, 
$background-color: igx-color($default-palette, secondary),
$border-color: rgb(255, 255, 255),
$disable-border: false,
$text-color: rgb(255, 255, 255)
);

$last-month-icon-theme: igx-icon-theme(
$color: igx-color($default-palette, error),
$size: 18px
);

$last-year-icon-theme: igx-icon-theme(
$color: igx-color($default-palette, success),
$size: 18px
);

$button-theme: igx-button-theme(
$raised-background: igx-color($default-palette, secondary),
$raised-text-color: rgb(255, 255, 255)
);

$grid-generic-grid-theme: igx-grid-theme(
$header-background: igx-color($default-palette, primary, 100),
$header-text-color: igx-color($default-palette, grays, 700),
$content-background: rgb(255, 255, 255),
$content-text-color: igx-color($default-palette, grays, 900)
);


:host {
::ng-deep {
.navbar {
@include igx-navbar($navbar-theme);
}

.unallocated-icon {
@include igx-icon($unallocated-icon-theme);
margin-top: 9px;

}

.monthly-list {
@include igx-list($monthly-list-theme);
}

.monthly-listprogress {
@include igx-progress-linear($monthly-listprogress-theme);
}
.monthly-listprogress-1 {
@include igx-progress-linear($monthly-listprogress-1-theme);
}
.monthly-listprogress-2 {
@include igx-progress-linear($monthly-listprogress-2-theme);
}
.monthly-listprogress-3 {
@include igx-progress-linear($monthly-listprogress-3-theme);
}
.monthly-listprogress-4 {
@include igx-progress-linear($monthly-listprogress-4-theme);
}
.monthly-listprogress-5 {
@include igx-progress-linear($monthly-listprogress-5-theme);
}
.monthly-listprogress-6 {
@include igx-progress-linear($monthly-listprogress-6-theme);
}
.six-months-list {
@include igx-list($six-months-list-theme);
}

.six-months-listprogress {
@include igx-progress-linear($six-months-listprogress-theme);
}
.six-months-listprogress-1 {
@include igx-progress-linear($six-months-listprogress-1-theme);
}
.badge-round {
@include igx-badge($badge-round-theme);
position: relative;
left: -11px;
z-index: 2;

}

.last-month-icon {
@include igx-icon($last-month-icon-theme);
margin-top: 2px;
margin-left: 22px;

}

.last-year-icon {
@include igx-icon($last-year-icon-theme);
margin-top: 2px;
margin-left: 22px;

}

.button {
@include igx-button($button-theme);
margin-top: 16px;
margin-left: 16px;

}

.grid-generic-grid {
@include igx-grid($grid-generic-grid-theme);
width: 999px;
}

}
}
