<main class="igx-typography"><form>
<div class="budget-home">
<div class="navigation"><div class="navbar">
<igx-navbar 
title="Home" actionButtonIcon="menu" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="home-screen"><div class="budget"><div class="overview"><h4 class="igx-typography__h4 budget-allocation-label">Budget Allocation</h4>
<div class="values"><div class="group2"><div class="unallocated-icon">
<igx-icon 
name="info" >
</igx-icon>
</div>

<h4 class="igx-typography__h4 unallocated-value">$200 520</h4>
</div>
<h4 class="igx-typography__h4 total-value">$284 470</h4>
<span class="igx-typography__body-1 unallocated">Unallocated</span>
<span class="igx-typography__body-1 total">Total</span>
</div>
</div>
<div class="monthly-list">
<igx-list class="monthly-list-1" >
<igx-list-item isHeader="true" class="monthly-list-3" >
Monthly                                                          $72 300.00</igx-list-item>
<igx-list-item class="monthly-list-4" >
<div class="monthly-list-2-container" >
<div class="monthly-list-2-info" >
<span class="list-itemtext igx-typography__subtitle-1">Salaries</span>
<div class="monthly-listprogress">
<igx-linear-bar [textVisibility]="false" striped="true" type="default" ></igx-linear-bar>
</div>
</div>
<div class="monthly-list-2-details" >
<span class="list-itemtext-1 igx-typography__subtitle-2">$ 61 020.00</span>
<span class="list-itemtext-2 igx-typography__caption">$ 61 020.00</span>
</div>
</div>
</igx-list-item>
<igx-list-item class="monthly-list-5" >
<div class="monthly-list-2-container" >
<div class="monthly-list-2-info" >
<span class="list-itemtext-3 igx-typography__subtitle-1">Office Materials</span>
<div class="monthly-listprogress-1">
<igx-linear-bar [textVisibility]="false" striped="true" type="default" ></igx-linear-bar>
</div>
</div>
<div class="monthly-list-2-details" >
<span class="list-itemtext-4 igx-typography__subtitle-2">$ 450.00</span>
<span class="list-itemtext-5 igx-typography__caption">$ 650.00</span>
</div>
</div>
</igx-list-item>
<igx-list-item class="monthly-list-6" >
<div class="monthly-list-2-container" >
<div class="monthly-list-2-info" >
<span class="list-itemtext-6 igx-typography__subtitle-1">Marketing</span>
<div class="monthly-listprogress-2">
<igx-linear-bar [textVisibility]="false" striped="true" type="default" ></igx-linear-bar>
</div>
</div>
<div class="monthly-list-2-details" >
<span class="list-itemtext-7 igx-typography__subtitle-2">$ 4700.00</span>
<span class="list-itemtext-8 igx-typography__caption">$ 6700.00</span>
</div>
</div>
</igx-list-item>
<igx-list-item class="monthly-list-7" >
<div class="monthly-list-2-container" >
<div class="monthly-list-2-info" >
<span class="list-itemtext-9 igx-typography__subtitle-1">Office Food</span>
<div class="monthly-listprogress-3">
<igx-linear-bar [textVisibility]="false" striped="true" type="default" ></igx-linear-bar>
</div>
</div>
<div class="monthly-list-2-details" >
<span class="list-itemtext-10 igx-typography__subtitle-2">$ 690.00</span>
<span class="list-itemtext-11 igx-typography__caption">$ 1000.00</span>
</div>
</div>
</igx-list-item>
<igx-list-item class="monthly-list-8" >
<div class="monthly-list-2-container" >
<div class="monthly-list-2-info" >
<span class="list-itemtext-12 igx-typography__subtitle-1">Electricity</span>
<div class="monthly-listprogress-4">
<igx-linear-bar [textVisibility]="false" striped="true" type="default" ></igx-linear-bar>
</div>
</div>
<div class="monthly-list-2-details" >
<span class="list-itemtext-13 igx-typography__subtitle-2">$ 1780.00</span>
<span class="list-itemtext-14 igx-typography__caption">$ 2080.00</span>
</div>
</div>
</igx-list-item>
<igx-list-item class="monthly-list-9" >
<div class="monthly-list-2-container" >
<div class="monthly-list-2-info" >
<span class="list-itemtext-15 igx-typography__subtitle-1">Internet</span>
<div class="monthly-listprogress-5">
<igx-linear-bar [textVisibility]="false" striped="true" type="default" ></igx-linear-bar>
</div>
</div>
<div class="monthly-list-2-details" >
<span class="list-itemtext-16 igx-typography__subtitle-2">$ 0.00</span>
<span class="list-itemtext-17 igx-typography__caption">$ 300.00</span>
</div>
</div>
</igx-list-item>
<igx-list-item class="monthly-list-10" >
<div class="monthly-list-2-container" >
<div class="monthly-list-2-info" >
<span class="list-itemtext-18 igx-typography__subtitle-1">Water</span>
<div class="monthly-listprogress-6">
<igx-linear-bar [textVisibility]="false" striped="true" type="default" ></igx-linear-bar>
</div>
</div>
<div class="monthly-list-2-details" >
<span class="list-itemtext-19 igx-typography__subtitle-2">$ -80.00</span>
<span class="list-itemtext-20 igx-typography__caption">$ 600.00</span>
</div>
</div>
</igx-list-item>
</igx-list>
</div>

<div class="six-months-list">
<igx-list class="six-months-list-1" >
<igx-list-item isHeader="true" class="six-months-list-3" >
Every 6 Months                                              $11 650.00</igx-list-item>
<igx-list-item class="six-months-list-4" >
<div class="six-months-list-2-container" >
<div class="six-months-list-2-info" >
<span class="list-itemtext-21 igx-typography__subtitle-1">Conference</span>
<div class="six-months-listprogress">
<igx-linear-bar [textVisibility]="false" striped="true" type="default" ></igx-linear-bar>
</div>
</div>
<div class="six-months-list-2-details" >
<span class="list-itemtext-22 igx-typography__subtitle-2">$ 11 000.00</span>
<span class="list-itemtext-23 igx-typography__caption">$ 11 000.00</span>
</div>
</div>
</igx-list-item>
<igx-list-item class="six-months-list-5" >
<div class="six-months-list-2-container" >
<div class="six-months-list-2-info" >
<span class="list-itemtext-24 igx-typography__subtitle-1">Coaching</span>
<div class="six-months-listprogress-1">
<igx-linear-bar [textVisibility]="false" striped="true" type="default" ></igx-linear-bar>
</div>
</div>
<div class="six-months-list-2-details" >
<span class="list-itemtext-25 igx-typography__subtitle-2">$ 350.00</span>
<span class="list-itemtext-26 igx-typography__caption">$ 650.00</span>
</div>
</div>
</igx-list-item>
</igx-list>
</div>

</div>
<div class="info-1"><div class="overview-1"><div class="main"><div class="date1"><h3 class="igx-typography__h3 current-period">May ‘18</h3>
<div class="badge-round">
<igx-badge 
class="badge-round-1" value="2"></igx-badge>
</div>

</div>
<h3 class="igx-typography__h3 value">$ 4090</h3>
</div>
<div class="details"><div class="history-1"><div class="last-month-row"><span class="igx-typography__body-1 last-month">Last Month</span>
<div class="last-month-icon">
<igx-icon 
name="arrow_downward" >
</igx-icon>
</div>

<span class="igx-typography__body-1 last-month-value">$ 71 100 (1467%)</span>
</div>
<div class="last-year-row"><span class="igx-typography__body-1 last-year">Last Year</span>
<div class="last-year-icon">
<igx-icon 
name="arrow_upward" >
</igx-icon>
</div>

<span class="igx-typography__body-1 last-month-value-copy">$ 3920 (4%)</span>
</div>
</div>
<div class="button">
<button igxRipple class="button-1" (click)="onAddExpenseClicked()" igxButton="raised" >ADD EXPENSE</button>
</div>

</div>
</div>
<div class="transactions"><div class="title-1"><h6 class="igx-typography__h6 title">PENDING TRANSACTIONS</h6>
</div>
<div class="grid-generic-grid">
<igx-grid [autoGenerate]="false" [height]="null" [data]="pendingTransactions" >
<igx-column field="transactionDate" header="Date" width="160px" dataType="string" filterable="true" ></igx-column>
<igx-column field="transactionType" header="Type" width="120px" dataType="string" ></igx-column>
<igx-column field="payee" header="Payee" width="319px" dataType="string" ></igx-column>
<igx-column field="transactionAmount" header="Amount" width="120px" dataType="number" ></igx-column>
<igx-column field="recurrence" header="Recurrence" width="160px" dataType="string" ></igx-column>
<igx-column field="verified" header="Verified" width="120px" dataType="string" ></igx-column>
</igx-grid>
</div>

</div>
</div>
</div>
</div></form></main>
