@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/card/card-component';
@import '~igniteui-angular/lib/core/styles/components/card/card-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.about {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {
height: 56px;
min-height: 56px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.card-top {
width: 694px;
min-width: 694px;
height: 600px;
min-height: 600px;

}
.card-bottom {
margin-top: 16px;

width: 694px;
min-width: 694px;
height: 316px;
min-height: 316px;

}
.cards {
width: 694px;
min-width: 694px;
margin: 12px auto 0 auto;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.about-screen {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgba(igx-color($default-palette, primary, 100), 0.2);
}

$navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);


:host {
::ng-deep {
.navbar {
@include igx-navbar($navbar-theme);
}

}
}
