<main class="igx-typography"><form>
<div class="horopaid">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Paid Services" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="screen-content"><div class="title"><h4 class="igx-typography__h4 horoscope-report-pri">Horoscope Report Pricing</h4>
</div>
<div class="body-vertical-centering-wrapper"><div class="body"><div class="full-horoscope"><div class="horoscope-list">
<!-- <igx-list class="horoscope-list-1" *ngFor="let item of serviceInfo; let i = index">
<igx-list-item isHeader="true" class="horoscope-list-3" >
{{item.ItemName}}</igx-list-item>
<igx-list-item class="horoscope-list-4" >
<div class="horoscope-list-2-container" >
<div class="horoscope-list-2-info" >
<span class="list-itemtext igx-typography__subtitle-1">{{item.Description}}</span>
</div>
</div>
</igx-list-item>
<igx-list-item class="horoscope-list-5" >
<div class="horoscope-list-2-container" >
<div class="horoscope-list-2-info" >
<span class="list-itemtext-1 igx-typography__subtitle-1">MRP</span>
</div>
<span class="list-itemtext-2 igx-typography__subtitle-2">{{item.MRP}}</span>
</div>
</igx-list-item>
<igx-list-item class="horoscope-list-6" >
<div class="horoscope-list-2-container" >
<div class="horoscope-list-2-info" >
<span class="list-itemtext-3 igx-typography__subtitle-1">Discount</span>
</div>
<span class="list-itemtext-4 igx-typography__subtitle-2">20.00</span>
</div>
</igx-list-item>
<igx-list-item class="horoscope-list-7" >
<div class="horoscope-list-2-container" >
<div class="horoscope-list-2-info" >
<span class="list-itemtext-5 igx-typography__subtitle-1">Actual Price</span>
</div>
<span class="list-itemtext-6 igx-typography__subtitle-2">{{item.ActualPrice}}</span>
</div>
</igx-list-item>
<igx-list-item>
    <div class="hardcopy">
        <igx-checkbox [checked]="checkBoxValue" (click)="hardcopyRequired_Click(item.Id)">Hardcopy Required
        </igx-checkbox>
        </div>
</igx-list-item>
<igx-list-item>
    
        <button igxRipple igxButton="raised" (click)="onNext()">Next</button>
  
</igx-list-item>
</igx-list> -->
<igx-list class="horoscope-list-1">
    <igx-list-item isHeader="true" class="horoscope-list-3" >
    {{service.ItemName}}</igx-list-item>
    <igx-list-item class="horoscope-list-4" >
    <div class="horoscope-list-2-container" >
    <div class="horoscope-list-2-info" >
    <span class="list-itemtext igx-typography__subtitle-1">{{service.Description}}</span>
    </div>
    </div>
    </igx-list-item>
    <igx-list-item class="horoscope-list-5" >
    <div class="horoscope-list-2-container" >
    <div class="horoscope-list-2-info" >
    <span class="list-itemtext-1 igx-typography__subtitle-1">MRP</span>
    </div>
    <span class="list-itemtext-2 igx-typography__subtitle-2">{{service.MRP}}</span>
    </div>
    </igx-list-item>
    <igx-list-item class="horoscope-list-6" >
    <div class="horoscope-list-2-container" >
    <div class="horoscope-list-2-info" >
    <span class="list-itemtext-3 igx-typography__subtitle-1">Discount</span>
    </div>
    <span class="list-itemtext-4 igx-typography__subtitle-2">20.00</span>
    </div>
    </igx-list-item>
    <igx-list-item class="horoscope-list-7" >
    <div class="horoscope-list-2-container" >
    <div class="horoscope-list-2-info" >
    <span class="list-itemtext-5 igx-typography__subtitle-1">Actual Price</span>
    </div>
    <span class="list-itemtext-6 igx-typography__subtitle-2">{{service.ActualPrice}}</span>
    </div>
    </igx-list-item>
    <igx-list-item>
        <div class="hardcopy">
            <igx-checkbox [checked]="checkBoxValue" (click)="hardcopyRequired_Click(item.Id)">Hardcopy Required
            </igx-checkbox>
            </div>
    </igx-list-item>
    <igx-list-item>
        
            <button igxRipple igxButton="raised" (click)="onNext()">Next</button>
      
    </igx-list-item>
    </igx-list>
</div>

<div class="text-display">
    <p class="eligibility">Your eligible for delivery</p>
<p class="total">Total Price   : 250.00</p>
</div>
</div>

</div>
</div>
</div>
</div></form></main>
