<main class="igx-typography"><form>
<div class="astamangala-1">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Horoscope" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="colors-overlay10-row"><div class="colors-overlay10">
</div>
<div class="title"><h2 class="igx-typography__h2 astamangala">Astamangala</h2>
</div>
<div class="content"><h3 class="igx-typography__h3 sub-title">Enter Details</h3>
<div class="date-row"><div class="date1">
<igx-datePicker class="date1-1" label="Date" >
</igx-datePicker>
</div>

<div class="time">
<igx-time-picker class="time-1" >
</igx-time-picker>
</div>

<div class="time-format">
<igx-input-group type="line" class="time-format-1" >
<input igxInput type="text" value="Summer" />
<label igxLabel>Time Format</label>
</igx-input-group>
</div>

</div>
<div class="birth-place">
<igx-input-group type="line" class="birth-place-1" >
<input igxInput type="text" value="Enter Place" />
<label igxLabel>Birth Place</label>
</igx-input-group>
</div>

<div 
class="gender"><igx-radio-group >
<div class="gender-1">
<igx-radio value="Male">
Male
</igx-radio>
</div>

<div class="gender-2">
<igx-radio value="Female">
Female
</igx-radio>
</div>

</igx-radio-group></div>
 
<div class="submit">
<button igxRipple igxButton="raised" >Submit</button>
</div>

</div>
</div>
</div></form></main>
