@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/radio/radio-component';
@import '~igniteui-angular/lib/core/styles/components/radio/radio-theme';
@import '~igniteui-angular/lib/core/styles/components/time-picker/time-picker-component';
@import '~igniteui-angular/lib/core/styles/components/time-picker/time-picker-theme';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-component';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-theme';
@import '~igniteui-angular/lib/core/styles/components/date-picker/date-picker-component';
@import '~igniteui-angular/lib/core/styles/components/date-picker/date-picker-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	//overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.astamangala-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.colors-overlay10 {
position: absolute;
z-index: 0;

width: 1024px;
min-width: 1024px;
height: 961px;
min-height: 961px;

background-color: rgba(igx-color($default-palette, primary), .10);
}
.astamangala {
color: igx-color($default-palette, grays, 900);
margin-top: 16px;
margin-left: 22px;

height: 71px;
min-height: 71px;

font-family: 'Big Caslon', 'Titillium Web', sans-serif;
font-weight: 500;
}
.title {
position: absolute;
top: 24px;
left: 57px;
z-index: 2;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.sub-title {
color: igx-color($default-palette, grays, 900);
margin-top: 41px;
margin-left: 24px;

height: 57px;
min-height: 57px;

font-family: 'Big Caslon', 'Titillium Web', sans-serif;
font-weight: 500;
}
.date1-1 {
width: 263px;
min-width: 263px;


}
.time-1 {
width: 263px;
min-width: 263px;

}
.time-format-1 {
width: 222px;
min-width: 222px;

}
.date-row {
margin-top: 39px;
margin-right: 42px;
margin-left: 17px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.birth-place-1 {
width: 585px;
min-width: 585px;

}
igx-radio-group {
    display: flex;
    flex-flow: column nowrap;
}
igx-radio {
    margin-top: 5px;
    margin-bottom: 5px;
}
.gender {
margin-top: 34px;
margin-left: 34px;

}
.content {
position: absolute;
top: 152px;
left: 57px;
z-index: 1;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.colors-overlay10-row {

position: relative;
padding: 0;
}

$navigation-navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$date1-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$variant: 'dark'
);

$time-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$variant: 'dark'
);

$time-format-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$birth-place-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$gender-1-theme: igx-radio-theme(
$fill-color: igx-color($default-palette, grays, 600),
$variant: 'dark'
);

$gender-2-theme: igx-radio-theme(
$fill-color: igx-color($default-palette, grays, 600),
$variant: 'dark'
);

$submit-theme: igx-button-theme(
$raised-background: igx-color($default-palette, secondary, 600),
$raised-text-color: rgb(255, 255, 255)
);


:host {
::ng-deep {
.navigation-navbar {
@include igx-navbar($navigation-navbar-theme);
}

.date1 {
@include igx-input-group($date1-theme);
}

.time {
@include igx-input-group($time-theme);
margin-left: 66px;

}

.time-format {
@include igx-input-group($time-format-theme);
margin: 0 0 0 auto;

}

.birth-place {
@include igx-input-group($birth-place-theme);
margin-top: 96px;
margin-left: 17px;

}

.gender-1 {
@include igx-radio($gender-1-theme);
}

.gender-2 {
@include igx-radio($gender-2-theme);
}

.submit {
@include igx-button($submit-theme);
margin-top: 102px;
margin-left: 390px;

}

}
}
