@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-component';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.registration {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {
margin-top: 7px;
margin-left: 6px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.title {
color: igx-color($default-palette, primary);
margin-top: 27px;
margin-left: 259px;

width: 193px;
min-width: 193px;
height: 57px;
min-height: 57px;

font-family: 'Helvetica', 'Titillium Web', sans-serif;
text-align: center;
}
.title-1 {
height: 99px;
min-height: 99px;
margin-top: 50px;
margin-right: 136px;
margin-left: 138px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.mobile-no-1 {
width: 405px;
min-width: 405px;

}
.email-1 {
width: 405px;
min-width: 405px;

}
.password-1 {
width: 405px;
min-width: 405px;

}
.reenter-password-1 {
width: 405px;
min-width: 405px;

}
.reference-code-1 {
width: 405px;
min-width: 405px;

}
.content {
height: 725px;
min-height: 725px;
margin-right: 136px;
margin-left: 138px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.screen {
margin-left: 6px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgba(igx-color($default-palette, primary), .10);
}

@function get-palette($palette, $variant: 'light') {
$p: igx-color($palette, 'primary');
$s: igx-color($palette, 'secondary');
@return igx-palette($primary: $p,
$secondary: $s,
$grays: if($variant == 'light', #fff, #000)
);
}
@function get-schema($variant: 'light') {
@return map-get((
dark: $dark-schema,
light: $light-schema
), $variant);
}

$navigation-navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$mobile-no-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$email-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$password-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$reenter-password-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$reference-code-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$register-theme: igx-button-theme(
$raised-background: igx-color($default-palette, secondary, 600),
$raised-text-color: rgb(255, 255, 255)
);


:host {
::ng-deep {
.navigation-navbar {
@include igx-navbar($navigation-navbar-theme);
}

.mobile-no {
@include igx-input-group($mobile-no-theme);
margin-top: 75px;
margin-left: 175px;

}

.email {
@include igx-input-group($email-theme);
margin-top: 41px;
margin-left: 175px;

}

.password {
@include igx-input-group($password-theme);
margin-top: 41px;
margin-left: 175px;

}

.reenter-password {
@include igx-input-group($reenter-password-theme);
margin-top: 41px;
margin-left: 175px;

}

.reference-code {
@include igx-input-group($reference-code-theme);
margin-top: 41px;
margin-left: 175px;

}

.register {
@include igx-button($register-theme);
margin-top: 72px;
margin-left: 175px;

}

}
}
