@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-component';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.i-phone8 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation-navbar-1 {
width: 100%;

}
.navigation-chrome {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.title {
color: igx-color($default-palette, primary);
margin-left: 9px;

margin-top: 0px;
width: 100%;
height: 40px;
min-height: 40px;

font-family: 'Helvetica', 'Titillium Web', sans-serif;
}
.mobile-no-1 {
width: 100%;

}
.email-1 {
width: 100%;

}
.password-1 {
width: 100%;

}
.confirm-password-1 {
width: 100%;

}
.reference-code-1 {
width: 100%;

}
.signup-1 {
width: 100%;
height: 40px;
min-height: 40px;

}
.content {
margin-top: 19px;
margin-right: 18px;
margin-bottom: 54px;
margin-left: 31px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.signup-2 {
width: 357px;
min-width: 357px;
height: 565px;
min-height: 565px;
margin: 26px auto 0 auto;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.screen {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: igx-color($default-palette, primary, 100);
}

@function get-palette($palette, $variant: 'light') {
$p: igx-color($palette, 'primary');
$s: igx-color($palette, 'secondary');
@return igx-palette($primary: $p,
$secondary: $s,
$grays: if($variant == 'light', #fff, #000)
);
}
@function get-schema($variant: 'light') {
@return map-get((
dark: $dark-schema,
light: $light-schema
), $variant);
}

$navigation-navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$mobile-no-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$email-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$password-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$confirm-password-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$reference-code-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$signup-theme: igx-button-theme(
$raised-background: igx-color($default-palette, primary),
$raised-text-color: igx-color($default-palette, grays, 900)
);


:host {
::ng-deep {
.navigation-navbar {
@include igx-navbar($navigation-navbar-theme);
}

.mobile-no {
@include igx-input-group($mobile-no-theme);
margin-top: 31px;
margin-right: 11px;

width: 100%;
}

.email {
@include igx-input-group($email-theme);
margin-top: 20px;
margin-right: 11px;

width: 100%;
}

.password {
@include igx-input-group($password-theme);
margin-top: 31px;
margin-right: 11px;

width: 100%;
}

.confirm-password {
@include igx-input-group($confirm-password-theme);
margin-top: 20px;
margin-right: 11px;

width: 100%;
}

.reference-code {
@include igx-input-group($reference-code-theme);
margin-top: 20px;
margin-right: 11px;

width: 100%;
}

.signup {
@include igx-button($signup-theme);
margin-top: 60px;
margin-right: 11px;

}

}
}
