<main class="igx-typography"><form>
<div class="registration">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Registration" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="background-row">
<div class="colorswhite">
</div>
<div class="card-background">
</div>
<div class="mobile-no">
<igx-input-group type="line" class="mobile-no-1" >
<input igxInput type="text" value="Enter Mobile No" />
<label igxLabel>Mobile No</label>
</igx-input-group>
</div>

<div class="email">
<igx-input-group type="line" class="email-1" >
<input igxInput type="text" value="Enter your email here" />
<label igxLabel>Email</label>
</igx-input-group>
</div>

<div class="password">
<igx-input-group type="line" class="password-1" >
<input igxInput type="text" value="Enter your password here" />
<label igxLabel>Password</label>
</igx-input-group>
</div>

<div class="reenter-password">
<igx-input-group type="line" class="reenter-password-1" >
<input igxInput type="text" value="Re enter your password" />
<label igxLabel>Confirm Password</label>
</igx-input-group>
</div>

<div class="reference-code">
<igx-input-group type="line" class="reference-code-1" >
<input igxInput type="text" value="Enter refereral code here" />
<label igxLabel>Reference Code</label>
</igx-input-group>
</div>

<div class="register">
<button igxRipple igxButton="raised" >Register</button>
</div>

<h3 class="igx-typography__h3 title">Register </h3>
<div class="cancel-1">
<button igxRipple igxButton="flat" >Cancel</button>
</div>

</div>
</div></form></main>
