<main class="igx-typography"><form>
<div class="registration">
<div class="navigation"><div class="navigation-navbar">
<!-- <igx-navbar title="Registration" actionButtonIcon="arrow_back" > -->
    <!-- <igx-navbar title="Registration"> -->
    <!-- <igx-icon name="more_vert" ></igx-icon> -->
<!-- </igx-navbar> -->
</div>

</div>
<div class="screen" [formGroup]="registrationForm"><div class="title-1"><h3 class="igx-typography__h3 title">Register </h3>
</div>
<div class="content"><div class="mobile-no">
<igx-input-group type="line" class="mobile-no-1" >
<input igxInput type="text" formControlName="mobileno" />
<label igxLabel>Mobile No</label>
</igx-input-group>
<p style="color:red" id='err_mobileno'></p>
</div>

<div class="email">
<igx-input-group type="line" class="email-1" >
<input igxInput type="text" formControlName="email" />
<label igxLabel>Email</label>
</igx-input-group>
<p style="color:red" id='err_email'></p>
</div>

<div class="password">
<igx-input-group type="line" class="password-1" >
<input igxInput type="password" formControlName="password" />
<label igxLabel>Password</label>
</igx-input-group>
<p style="color:red" id='err_password'></p>
</div>

<div class="reenter-password">
<igx-input-group type="line" class="reenter-password-1" >
<input igxInput type="password" formControlName="confirm_Password" />
<label igxLabel>Confirm Password</label>
</igx-input-group>
<p style="color:red" id='err_confirm_Password'></p>
</div>

<div class="reference-code">
<igx-input-group type="line" class="reference-code-1" >
<input igxInput type="text"  formControlName="refCode" />
<label igxLabel>Reference Code</label>
</igx-input-group>
<p style="color:red" id='err_refCode'></p>
</div>
<section class="sample-content" *ngIf='isLoading'>
    <article class="sample-column">
      <h5>Text is displayed</h5>
      <div class="circular-container">
        <igx-circular-bar [value]="currentValue" [max]="maxvalue" [animate]="true" [textVisibility]="true" (onProgressChanged)="progresChanged($event)"></igx-circular-bar>
      </div>
     </article>
</section>
<div class="register">
<button igxRipple igxButton="raised" [disabled]="!registrationForm.valid" (click)='Register_Click()'>Register</button>
</div>

</div>
</div>
</div></form></main>
