@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	overflow: auto;
    height: 100%;
}
.cover {
    //overflow:hidden;
    background-color: lightgray;
    border: solid 1px black;
    overflow-y: scroll;
    padding: 5px;
  
  }
  .page {
    //overflow:hidden;
    background-color: white;
    border: solid 1px gray;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    overflow-y: scroll;
    padding: 5px;
  //  line-height: 100px;
  }
.customFont {
    font-family: "MyWebFont" !important;
    text-align: center
    }
form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.horoscope-free {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.title {
color: igx-color($default-palette, grays, 900);
margin-top: 16px;
margin-right: 481px;
margin-left: 25px;

width: 100%;
height: 71px;
min-height: 71px;

font-family: 'Big Caslon', 'Titillium Web', sans-serif;
font-weight: 500;
}
.title-1 {
height: 114px;
min-height: 114px;
margin-top: 21px;
margin-right: 17px;
margin-left: 26px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.horoscope {
color: igx-color($default-palette, grays, 900);
margin-top: 25px;
margin-left: 279px;

height: 112px;
min-height: 112px;

font-family: 'Helvetica', 'Titillium Web', sans-serif;
font-size: 40px;
letter-spacing: -0.63px;
}
.body {
// height: 607px;
// min-height: 607px;
margin-top: 12px;
margin-right: 17px;
margin-left: 26px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.footer {
height: 151px;
min-height: 151px;
margin-top: 31px;
margin-right: 17px;
margin-left: 26px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.screen {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgba(igx-color($default-palette, primary), .10);
}

@function get-palette($palette, $variant: 'light') {
$p: igx-color($palette, 'primary');
$s: igx-color($palette, 'secondary');
@return igx-palette($primary: $p,
$secondary: $s,
$grays: if($variant == 'light', #fff, #000)
);
}
@function get-schema($variant: 'light') {
@return map-get((
dark: $dark-schema,
light: $light-schema
), $variant);
}

$navigation-navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$buy-button-theme: igx-button-theme(
$raised-background: igx-color($default-palette, secondary, 600),
$raised-text-color: rgb(255, 255, 255)
);


:host {
::ng-deep {
.navigation-navbar {
@include igx-navbar($navigation-navbar-theme);
}

.buy-button {
@include igx-button($buy-button-theme);
margin-top: 54px;
margin-left: 361px;

}

}
}
