@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/grid-toolbar/grid-toolbar-component';
@import '~igniteui-angular/lib/core/styles/components/grid-paginator/grid-paginator-component';
@import '~igniteui-angular/lib/core/styles/components/grid-summary/grid-summary-component';
@import '~igniteui-angular/lib/core/styles/components/grid-filtering/grid-filtering-component';
@import '~igniteui-angular/lib/core/styles/components/grid/grid-component';
@import '~igniteui-angular/lib/core/styles/components/grid-toolbar/grid-toolbar-theme';
@import '~igniteui-angular/lib/core/styles/components/grid-paginator/grid-paginator-theme';
@import '~igniteui-angular/lib/core/styles/components/grid-summary/grid-summary-theme';
@import '~igniteui-angular/lib/core/styles/components/grid-filtering/grid-filtering-theme';
@import '~igniteui-angular/lib/core/styles/components/grid/grid-theme';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-component';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.incomes {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {
height: 56px;
min-height: 56px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.add-income {
color: igx-color($default-palette, primary);
margin-top: 8px;
margin-left: 16px;

}
.payee-input-1 {
width: 928px;
min-width: 928px;

}
.amount-input-1 {
width: 100%;

}
.currency-input-1 {
width: 160px;
min-width: 160px;

}
.currency {
margin-top: 16px;
margin-right: 16px;
margin-left: 16px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.save-button-1 {
width: 100%;

}
.income {
width: 960px;
min-width: 960px;
height: 240px;
min-height: 240px;
margin: 32px auto 0 auto;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.incomes-screen {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgba(igx-color($default-palette, primary, 100), 0.2);
}

$navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$payee-input-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$amount-input-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$currency-input-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$currency-input-2-suffix-theme: igx-icon-theme(
$color: igx-color($default-palette, grays, 600)
);

$save-button-theme: igx-button-theme(
$raised-background: igx-color($default-palette, secondary),
$raised-text-color: rgb(255, 255, 255)
);

$income-grid-theme: igx-grid-theme(
$header-background: igx-color($default-palette, primary, 100),
$header-text-color: igx-color($default-palette, grays, 700),
$content-background: rgb(255, 255, 255),
$content-text-color: igx-color($default-palette, grays, 900)
);


:host {
::ng-deep {
.navbar {
@include igx-navbar($navbar-theme);
}

.payee-input {
@include igx-input-group($payee-input-theme);
margin-right: 16px;
margin-left: 16px;

}

.amount-input {
@include igx-input-group($amount-input-theme);
width: 100%;
}

.currency-input {
@include igx-input-group($currency-input-theme);
margin-left: 16px;

}

.currency-input-2-suffix {
@include igx-icon($currency-input-2-suffix-theme);
}

.save-button {
@include igx-button($save-button-theme);
margin-top: 16px;
margin-right: 16px;
margin-left: 16px;

}

.income-grid {
@include igx-grid($income-grid-theme);
width: 960px;
margin: 16px auto 0 auto;

}

}
}
