<main class="igx-typography"><form>
<div class="login-3">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Login" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="background-row" [formGroup]="loginForm">
<div class="colorswhite">
</div>
<span class="igx-typography__subtitle-1 ifyouare-non-regis">If you are Non-Registred user you can login through OTP</span>
<a class="igx-typography__body-1 otp-login" >Click here to login </a>
<div class="mobile-no">
<igx-input-group type="line" class="mobile-no-1" >
<input igxInput type="number" formControlName="mobileno" />
<label igxLabel>Mobile No</label>
</igx-input-group>
</div>

<div class="password">
<igx-input-group type="line" class="password-1" >
<input igxInput type="password" formControlName="password" />
<label igxLabel>Password</label>
</igx-input-group>
</div>
<div class="dialog-sample">
    <button igxButton="raised" igxRipple="white" (click)="dialog.open()">LogOut</button>
</div>
    <igx-dialog #dialog title="Confirmation"
    leftButtonLabel="Cancel"
    (onLeftButtonSelect)="dialog.close()"
    rightButtonLabel="OK"
    (onRightButtonSelect)="onDialogOKSelected($event)"
    message="Are you sure LogOut..?">
</igx-dialog>
<div class="login">
<button igxRipple class="login-1" [disabled]="!loginForm.valid" igxButton="raised" (click)='onClick()'>Login</button>
</div>

<a class="igx-typography__body-1 forget-password" >Forget Password </a>
<h3 class="igx-typography__h3 login-2">Login </h3>
<div class="cancel-1">
<button igxRipple igxButton="flat" >Cancel</button>
</div>

</div>
</div></form></main>
