<main class="igx-typography"><form>
<div class="screen-content">
<div class="title"><h4 class="igx-typography__h4 horoscope-pricing">Horoscope Pricing</h4>
</div>
<div class="body"><div class="full-horoscope"><div class="horoscope-list">
<igx-list class="horoscope-list-1" >
<igx-list-item isHeader="true" class="horoscope-list-3" >
Full Horoscope</igx-list-item>
<igx-list-item class="horoscope-list-4" >
<div class="horoscope-list-2-container" >
<div class="horoscope-list-2-info" >
<span class="list-itemtext igx-typography__subtitle-1">Discription</span>
</div>
</div>
</igx-list-item>
<igx-list-item class="horoscope-list-5" >
<div class="horoscope-list-2-container" >
<div class="horoscope-list-2-info" >
<span class="list-itemtext-1 igx-typography__subtitle-1">MRP</span>
</div>
<span class="list-itemtext-2 igx-typography__subtitle-2">100.00</span>
</div>
</igx-list-item>
<igx-list-item class="horoscope-list-6" >
<div class="horoscope-list-2-container" >
<div class="horoscope-list-2-info" >
<span class="list-itemtext-3 igx-typography__subtitle-1">Discount</span>
</div>
<span class="list-itemtext-4 igx-typography__subtitle-2">20.00</span>
</div>
</igx-list-item>
<igx-list-item class="horoscope-list-7" >
<div class="horoscope-list-2-container" >
<div class="horoscope-list-2-info" >
<span class="list-itemtext-5 igx-typography__subtitle-1">Actual Price</span>
</div>
<span class="list-itemtext-6 igx-typography__subtitle-2">80.00</span>
</div>
</igx-list-item>
</igx-list>
</div>

<div class="hardcopy">
<igx-checkbox 
>Hardcopy Required
</igx-checkbox>
</div>

<div class="text-display"><span class="igx-typography__body-1 eligible">You are Eligible for Delivery</span>
<h6 class="igx-typography__h6 total">Total Price :250</h6>
</div>
<div class="submit-button">
<button igxRipple igxButton="raised" >Next</button>
</div>

</div>
</div>
</div></form></main>
