<main class="igx-typography">
<div class="dashboard">
<div class="navigation-1"><div class="navigation">
<igx-navbar 
title="Dasboard" actionButtonIcon="menu" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="background-row">
<div class="bottom-navigation-1"><div class="bottom-navigation">
<igx-bottom-nav >
<igx-tab-panel label="Label" icon="android" >
</igx-tab-panel>
<igx-tab-panel label="Label" icon="favorite" >
</igx-tab-panel>
<igx-tab-panel label="Label" icon="favorite" >
</igx-tab-panel>
</igx-bottom-nav>
</div>

</div>
<div class="slider">
<igx-carousel class="slider-1" >
<igx-slide>
<div class="image-size">
<img class="image-fit" src="assets/29e6cd8e38cda3a96d033dda6803af5f5a45cf0f.png">
</div>
</igx-slide>
<igx-slide>
<div class="image-size">
<img class="image-fit" src="assets/29e6cd8e38cda3a96d033dda6803af5f5a45cf0f.png">
</div>
</igx-slide>
<igx-slide>
<div class="image-size">
<img class="image-fit" src="assets/29e6cd8e38cda3a96d033dda6803af5f5a45cf0f.png">
</div>
</igx-slide>
<igx-slide>
<div class="image-size">
<img class="image-fit" src="assets/29e6cd8e38cda3a96d033dda6803af5f5a45cf0f.png">
</div>
</igx-slide>
</igx-carousel>
</div>

<igx-card 
></igx-card>
<igx-card 
></igx-card>
<igx-card 
></igx-card>
<igx-card 
></igx-card>
<igx-card 
></igx-card>
<igx-card 
></igx-card>
</div>
</div></main>
