
// @import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
// @import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';
.navigation {

    display: flex;
    flex-direction: column;
    padding: 0;
    flex-shrink: 0;
    }