<main class="igx-typography"><form>
<div class="match-making-1">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Match Making" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="colors-overlay10-row"><div class="colors-overlay10">
</div>
<div class="title"><h2 class="igx-typography__h2 match-making">Match Making</h2>
</div>
<div class="girl-detail"><h3 class="igx-typography__h3 sub-title1">Enter Girls Details</h3>
<div class="girl-name">
<igx-input-group type="line" class="girl-name-1" >
<input igxInput type="text" value="Shwetha" />
<label igxLabel>Name</label>
</igx-input-group>
</div>

<div class="dateof-birth1">
<igx-datePicker class="dateof-birth1-1" label="Date" >
</igx-datePicker>
</div>

<div class="timeof-birth1">
<igx-time-picker class="timeof-birth1-1" >
</igx-time-picker>
</div>

<div class="placeof-birth1">
<igx-input-group type="line" class="placeof-birth1-1" >
<input igxInput type="text" value="Mangalore" />
<label igxLabel>Birth Place</label>
</igx-input-group>
</div>

<div class="time-format1"><div class="combo-box">
<igx-combo type="box" 
class="combo-box-1" placeholder="Select" >
</igx-combo>
</div>

</div>
<div class="coordinates1"><div class="longitude1-row"><div class="longitude1">Longitude</div>
<div class="inputs-input-border">
<igx-input-group type="border" class="inputs-input-border-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy">
<igx-input-group type="border" class="inputs-input-border-copy-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy2">
<igx-input-group type="border" class="inputs-input-border-copy2-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

</div>
<div class="latitude1-row"><div class="latitude1">Latitude</div>
<div class="inputs-input-border-copy5">
<igx-input-group type="border" class="inputs-input-border-copy5-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy4">
<igx-input-group type="border" class="inputs-input-border-copy4-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy3">
<igx-input-group type="border" class="inputs-input-border-copy3-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

</div>
<div class="zone-time1-row"><div class="zone-time1">Zone Time</div>
<div class="inputs-input-border-copy6">
<igx-input-group type="border" class="inputs-input-border-copy6-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy7">
<igx-input-group type="border" class="inputs-input-border-copy7-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy8">
<igx-input-group type="border" class="inputs-input-border-copy8-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

</div>
<span class="igx-typography__body-1 timezone2">Time Zone    : Indian Time Zone</span>
<div class="clicktoedit1">
<igx-checkbox 
>Click here to edit
</igx-checkbox>
</div>

</div>
</div>
<div class="bottom-button"><div class="language"><div class="combo-box-2">
<igx-combo type="box" 
class="combo-box-3" placeholder="Select Language" >
</igx-combo>
</div>

</div>
<div class="submit-button">
<button igxRipple igxButton="raised" >MATCH MAKING</button>
</div>

</div>
<div class="boy-details"><h3 class="igx-typography__h3 sub-title2">Enter Boy Details</h3>
<div class="name-boy">
<igx-input-group type="line" class="name-boy-1" >
<input igxInput type="text" value="Ramesh" />
<label igxLabel>Name</label>
</igx-input-group>
</div>

<div class="inputs-input-date-picker-copy">
<igx-datePicker class="inputs-input-date-picker-copy-1" label="Date" >
</igx-datePicker>
</div>

<div class="timeof-birth2">
<igx-time-picker class="timeof-birth2-1" >
</igx-time-picker>
</div>

<div class="placeof-birth2">
<igx-input-group type="line" class="placeof-birth2-1" >
<input igxInput type="text" value="Mangalore" />
<label igxLabel>Birth Place</label>
</igx-input-group>
</div>

<div class="time-format2"><div class="combo-box-4">
<igx-combo type="box" 
class="combo-box-5" >
</igx-combo>
</div>

</div>
<div class="coordinates2"><div class="longitude-copy-row"><div class="longitude-copy">Longitude</div>
<div class="inputs-input-border-copy15">
<igx-input-group type="border" class="inputs-input-border-copy15-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy22">
<igx-input-group type="border" class="inputs-input-border-copy22-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy13">
<igx-input-group type="border" class="inputs-input-border-copy13-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

</div>
<div class="latitude-copy-row"><div class="latitude-copy">Latitude</div>
<div class="inputs-input-border-copy16">
<igx-input-group type="border" class="inputs-input-border-copy16-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy14">
<igx-input-group type="border" class="inputs-input-border-copy14-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy12">
<igx-input-group type="border" class="inputs-input-border-copy12-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

</div>
<div class="zone-time-copy-row"><div class="zone-time-copy">Zone Time</div>
<div class="inputs-input-border-copy11">
<igx-input-group type="border" class="inputs-input-border-copy11-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy10">
<igx-input-group type="border" class="inputs-input-border-copy10-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy9">
<igx-input-group type="border" class="inputs-input-border-copy9-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

</div>
<span class="igx-typography__body-1 time-zone2">Time Zone    : Indian Time Zone</span>
<div class="clicktoedit2">
<igx-checkbox 
>Click here to edit
</igx-checkbox>
</div>

</div>
</div>
</div>
</div></form></main>
