<main class="igx-typography"><form>
<div class="match-making-1">
<!-- <div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Match Making" actionButtonIcon="menu" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div> -->
<div class="screen"><div class="title"><h3 class="igx-typography__h2 match-making">Match Making</h3>
</div>
<div class="content">
    <div class="left" [formGroup]="femaleMatchMakingForm">
        <h3 class="igx-typography__h3 sub-title1">Enter Girls Details</h3>
<div class="girl-name">
<igx-input-group type="line" class="girl-name-1" >
        <input igxInput type="text" formControlName="femaleName"/>
        <label igxLabel>Name</label>
</igx-input-group>
<p style="color:red" id='err_femaleName'></p>
</div>

<div class="dateof-birth1">
<igx-datePicker class="dateof-birth1-1" label="Date" [formatter]="formatter" formControlName="FemaleBdate">
</igx-datePicker>
<p style="color:red" id='err_FemaleBdate'></p>
</div>

<div class="timeof-birth1">
<igx-time-picker class="timeof-birth1-1" formControlName="FemaleBtime">
</igx-time-picker>
<p style="color:red" id='err_FemaleBtime'></p>
</div>

<div class="placeof-birth1">
<igx-input-group type="line" class="placeof-birth1-1" id="txtHome1">
<input igxInput type="text" formControlName="FemaleBplace"/>
<label igxLabel>Birth Place</label>
</igx-input-group>
<p style="color:red" id='err_FemaleBplace'></p>
</div>

<div class="time-zone">
    <igx-combo #combo class="input-container" width="500px" [itemsMaxHeight]="255"
    [data]="femaletimeformats" [displayKey]="'Text'" [valueKey]="'Id'" formControlName="FemaleTimeformat"
    placeholder="Select" searchPlaceholder="Search..." (onSelectionChange)="selectionChange($event)">
</igx-combo>
<!-- <p style="color:red" id='err_FemaleTimeformat'></p> -->
</div>

<div class="coordinates1">
    <div class="logitude" *ngIf="timeZoneName_Female">
        <p class="longitude1">Longitude</p>
<div class="inputs-input-border">
<igx-input-group type="border" class="inputs-input-border-1" >
<input igxInput type="text" formControlName="LongDeg" [(ngModel)]="matchRequest.Female.LongDeg" [disabled]="!enabletoEdit_FemaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy">
<igx-input-group type="border" class="inputs-input-border-copy-1" >
<input igxInput type="text" formControlName="LongMt" [(ngModel)]="matchRequest.Female.LongMt" [disabled]="!enabletoEdit_FemaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy2">
<igx-input-group type="border" class="inputs-input-border-copy2-1" >
<input igxInput type="text" formControlName="EW" [(ngModel)]="matchRequest.Female.EW" [disabled]="!enabletoEdit_FemaleBDetails" />
</igx-input-group>
</div>

</div>
<div class="latitude" *ngIf="timeZoneName_Female">
    <p class="latitude1">Latitude</p>
<div class="inputs-input-border-copy5">
<igx-input-group type="border" class="inputs-input-border-copy5-1" >
<input igxInput type="text" formControlName="LatDeg" [(ngModel)]="matchRequest.Female.LatDeg" [disabled]="!enabletoEdit_FemaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy4">
<igx-input-group type="border" class="inputs-input-border-copy4-1" >
<input igxInput type="text" formControlName="LatMt" [(ngModel)]="matchRequest.Female.LatMt" [disabled]="!enabletoEdit_FemaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy3">
<igx-input-group type="border" class="inputs-input-border-copy3-1" >
<input igxInput type="text" formControlName="NS" [(ngModel)]="matchRequest.Female.NS" [disabled]="!enabletoEdit_FemaleBDetails" />
</igx-input-group>
</div>

</div>
<div class="zone" *ngIf="timeZoneName_Female">
    <p class="zone-time1">Zone Time</p>
<div class="inputs-input-border-copy6">
<igx-input-group type="border" class="inputs-input-border-copy6-1" >
<input igxInput type="text" formControlName="ZH" [(ngModel)]="matchRequest.Female.ZH" [disabled]="!enabletoEdit_FemaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy7">
<igx-input-group type="border" class="inputs-input-border-copy7-1" >
<input igxInput type="text" formControlName="ZM" [(ngModel)]="matchRequest.Female.ZM" [disabled]="!enabletoEdit_FemaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy8">
<igx-input-group type="border" class="inputs-input-border-copy8-1" >
<input igxInput type="text" formControlName="PN" [(ngModel)]="matchRequest.Female.PN" [disabled]="!enabletoEdit_FemaleBDetails" />
</igx-input-group>
</div>

</div>
<div *ngIf="timeZoneName_Female">
<span class="igx-typography__body-1 timezone2">Time Zone    :  {{timeZoneName_Female}}</span>
<div class="clicktoedit1">
<igx-checkbox [checked]="checkBoxValue_Female" (click)="checkBoxStateChanged_Female()">
Click here to edit
</igx-checkbox>
</div>
</div>
</div>
</div>
<div class="right-vertical-centering-wrapper">
    <div class="right" [formGroup]="maleMatchMakingForm">
        <h3 class="igx-typography__h3 sub-title2">Enter Boy Details</h3>
<div class="name-boy">
<igx-input-group type="line" class="name-boy-1" >
<input igxInput type="text" formControlName="maleName" />
<label igxLabel>Name</label>
</igx-input-group>
<p style="color:red" id='err_maleName'></p>
</div>

<div class="date1">
<igx-datePicker class="date1-1" label="Date" [formatter]="formatter" formControlName="MaleBdate">
</igx-datePicker>
<p style="color:red" id='err_MaleBdate'></p>
</div>

<div class="timeof-birth2">
<igx-time-picker class="timeof-birth2-1" formControlName="MaleBtime">
</igx-time-picker>
<p style="color:red" id='err_MaleBtime'></p>
</div>

<div class="placeof-birth2">
<igx-input-group type="line" class="placeof-birth2-1" id="txtHome2">
<input igxInput type="text" formControlName="MaleBplace" />
<label igxLabel>Birth Place</label>
</igx-input-group>
<p style="color:red" id='err_MaleBplace'></p>
</div>

<div class="time-zone-2">
<igx-combo #combo class="input-container" width="500px" [itemsMaxHeight]="255"
            [data]="maletimeformats" [displayKey]="'Text'" [valueKey]="'Id'" formControlName="MaleTimeformat"
            placeholder="Select" searchPlaceholder="Search..." (onSelectionChange)="selectionChange($event)">
</igx-combo>
<!-- <p style="color:red" id='err_MaleTimeformat'></p> -->
</div>

<div class="coordinates2">
    <div class="longitude-1" *ngIf="timeZoneName_Male">
        <p class="longitude">Longitude</p>
<div class="inputs-input-border-copy15">
<igx-input-group type="border" class="inputs-input-border-copy15-1" >
<input igxInput type="text"  formControlName="LongDeg" [(ngModel)]="matchRequest.Male.LongDeg" [disabled]="!enabletoEdit_MaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy22">
<igx-input-group type="border" class="inputs-input-border-copy22-1" >
<input igxInput type="text" formControlName="LongMt" [(ngModel)]="matchRequest.Male.LongMt" [disabled]="!enabletoEdit_MaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy13">
<igx-input-group type="border" class="inputs-input-border-copy13-1" >
<input igxInput type="text" formControlName="EW" [(ngModel)]="matchRequest.Male.EW" [disabled]="!enabletoEdit_MaleBDetails" />
</igx-input-group>
</div>

</div>
<div class="latitude-1" *ngIf="timeZoneName_Male">
    <p class="latitude-copy">Latitude</p>
<div class="inputs-input-border-copy16">
<igx-input-group type="border" class="inputs-input-border-copy16-1" >
<input igxInput type="text" formControlName="LatDeg" [(ngModel)]="matchRequest.Male.LatDeg" [disabled]="!enabletoEdit_MaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy14">
<igx-input-group type="border" class="inputs-input-border-copy14-1" >
<input igxInput type="text" formControlName="LatMt" [(ngModel)]="matchRequest.Male.LatMt" [disabled]="!enabletoEdit_MaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy12">
<igx-input-group type="border" class="inputs-input-border-copy12-1" >
<input igxInput type="text" formControlName="NS" [(ngModel)]="matchRequest.Male.NS" [disabled]="!enabletoEdit_MaleBDetails" />
</igx-input-group>
</div>

</div>
<div class="zone-1" *ngIf="timeZoneName_Male">
    <p class="zone-time">Zone Time</p>
<div class="inputs-input-border-copy11">
<igx-input-group type="border" class="inputs-input-border-copy11-1" >
<input igxInput type="text" formControlName="ZH" [(ngModel)]="matchRequest.Male.ZH" [disabled]="!enabletoEdit_MaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy10">
<igx-input-group type="border" class="inputs-input-border-copy10-1" >
<input igxInput type="text" formControlName="ZM" [(ngModel)]="matchRequest.Male.ZM" [disabled]="!enabletoEdit_MaleBDetails" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy9">
<igx-input-group type="border" class="inputs-input-border-copy9-1" >
<input igxInput type="text" formControlName="PN" [(ngModel)]="matchRequest.Male.PN" [disabled]="!enabletoEdit_MaleBDetails" />
</igx-input-group>
</div>

</div>
<div *ngIf="timeZoneName_Male">
<span class="igx-typography__body-1 time-zone2">Time Zone    : {{timeZoneName_Male}}</span>
<div class="clicktoedit2">
<igx-checkbox [checked]="checkBoxValue_Male" (click)="checkBoxStateChanged_Male()">
Click here to edit
</igx-checkbox>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="bottom">
    <!-- <div class="language">
    <igx-combo #combo class="input-container" width="500px" [itemsMaxHeight]="255"
    [data]="lanuages" [displayKey]="'Text'" [valueKey]="'Id'"
    placeholder="Select" searchPlaceholder="Search..." (onSelectionChange)="selectionChange($event)">
</igx-combo>
</div> -->

<div class="submit-button">
<button igxRipple igxButton="raised" [disabled]="!femaleMatchMakingForm.valid||!maleMatchMakingForm.valid" (click)='Matchmaking_Click()'>MAKE MATCH</button>
</div>

</div>
</div>
</div></form></main>
