@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/checkbox/checkbox-component';
@import '~igniteui-angular/lib/core/styles/components/checkbox/checkbox-theme';
@import '~igniteui-angular/lib/core/styles/components/combo/combo-component';
@import '~igniteui-angular/lib/core/styles/components/combo/combo-theme';
@import '~igniteui-angular/lib/core/styles/components/time-picker/time-picker-component';
@import '~igniteui-angular/lib/core/styles/components/time-picker/time-picker-theme';
@import '~igniteui-angular/lib/core/styles/components/date-picker/date-picker-component';
@import '~igniteui-angular/lib/core/styles/components/date-picker/date-picker-theme';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-component';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	//overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.match-making-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {
margin-top: 7px;
margin-left: 6px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.colors-overlay10 {
position: absolute;
z-index: 0;

width: 100%;
height: 961px;
min-height: 961px;

background-color: rgba(igx-color($default-palette, primary), .10);
}
.match-making {
color: igx-color($default-palette, grays, 900);
margin-top: 12px;
margin-left: 33px;

height: 71px;
min-height: 71px;

font-family: 'Big Caslon', 'Titillium Web', sans-serif;
font-weight: 500;
}
.title {
position: absolute;
top: 9px;
left: 21px;
z-index: 2;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.sub-title1 {
color: igx-color($default-palette, grays, 900);
margin-top: 12px;
margin-left: 45px;

height: 57px;
min-height: 57px;

}
.girl-name-1 {
width: 399px;
min-width: 399px;

}
.dateof-birth1-1 {
width: 400px;
min-width: 400px;

}
.timeof-birth1-1 {
width: 399px;
min-width: 399px;

}
.placeof-birth1-1 {
width: 405px;
min-width: 405px;

}
.combo-box-1 {
width: 413px;
min-width: 413px;

}
.time-format1 {
margin-top: 15px;
margin-left: 37px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.longitude1 {
color: igx-color($default-palette, grays, 900);
margin-top: 8px;

font-weight: 600;
}
.inputs-input-border-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy2-1 {
width: 72px;
min-width: 72px;

}
.longitude1-row {
margin-left: 4px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.latitude1 {
color: igx-color($default-palette, grays, 900);
margin-top: 0px;
font-weight: 600;
}
.inputs-input-border-copy5-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy4-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy3-1 {
width: 72px;
min-width: 72px;

}
.latitude1-row {
margin-top: 12px;
margin-right: 1px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.zone-time1 {
color: igx-color($default-palette, grays, 900);
margin-top: 9px;

font-weight: 600;
}
.inputs-input-border-copy6-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy7-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy8-1 {
width: 72px;
min-width: 72px;

}
.zone-time1-row {
margin-top: 13px;
margin-right: 2px;
margin-left: 4px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.timezone2 {
color: igx-color($default-palette, secondary);
margin-top: 10px;
margin-left: 24px;

height: 28px;
min-height: 28px;

}
.coordinates1 {
margin-top: 19px;
margin-right: 26px;
margin-left: 15px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.girl-detail {
position: absolute;
top: 118px;
left: 22px;
z-index: 3;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.combo-box-3 {
width: 278px;
min-width: 278px;

}
.language {
margin-top: 10px;
margin-right: 332px;
margin-bottom: 96px;
margin-left: 363px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.submit-button-1 {
width: 100%;

}
.bottom-button {
position: absolute;
top: 789px;
left: 22px;
z-index: 1;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.sub-title2 {
color: igx-color($default-palette, grays, 900);
margin-top: 8px;
margin-left: 71px;

height: 57px;
min-height: 57px;

}
.name-boy-1 {
width: 375px;
min-width: 375px;

}
.inputs-input-date-picker-copy-1 {
width: 383px;
min-width: 383px;

}
.timeof-birth2-1 {
width: 378px;
min-width: 378px;

}
.placeof-birth2-1 {
width: 382px;
min-width: 382px;

}
.combo-box-5 {
width: 382px;
min-width: 382px;

}
.time-format2 {
margin-top: 18px;
margin-left: 58px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.longitude-copy {
color: igx-color($default-palette, grays, 900);
margin-top: 8px;

font-weight: 600;
}
.inputs-input-border-copy15-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy22-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy13-1 {
width: 66px;
min-width: 66px;

}
.longitude-copy-row {
margin-right: 2px;
margin-left: 4px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.latitude-copy {
color: igx-color($default-palette, grays, 900);
margin-top: 0px;
font-weight: 600;
}
.inputs-input-border-copy16-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy14-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy12-1 {
width: 66px;
min-width: 66px;

}
.latitude-copy-row {
margin-top: 11px;
margin-right: 1px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.zone-time-copy {
color: igx-color($default-palette, grays, 900);
margin-top: 8px;

font-weight: 600;
}
.inputs-input-border-copy11-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy10-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy9-1 {
width: 66px;
min-width: 66px;

}
.zone-time-copy-row {
margin-top: 11px;
margin-left: 4px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.time-zone2 {
color: igx-color($default-palette, secondary);
margin-top: 9px;
margin-left: 22px;

height: 28px;
min-height: 28px;

}
.coordinates2 {
margin-top: 26px;
margin-right: 40px;
margin-left: 35px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.boy-details {
position: absolute;
top: 119px;
left: 514px;
z-index: 4;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.colors-overlay10-row {
margin-left: 6px;

position: relative;
padding: 0;
}

$navigation-navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$girl-name-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$dateof-birth1-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$variant: 'dark'
);

$timeof-birth1-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$variant: 'dark'
);

$placeof-birth1-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$combo-box-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays, 700),
$box-background: igx-color($default-palette, grays, 200),
$border-background: transparent,
$variant: 'dark'
);

$inputs-input-border-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy2-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy5-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy4-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy3-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy6-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy7-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy8-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$clicktoedit1-theme: igx-checkbox-theme(
$fill-color: igx-color($default-palette, secondary),
$tick-color: rgb(255, 255, 255),
$variant: 'dark'
);

$combo-box-2-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, secondary),
$box-background: igx-color($default-palette, grays, 200),
$border-background: transparent,
$variant: 'dark'
);

$submit-button-theme: igx-button-theme(
$raised-background: igx-color($default-palette, secondary, 600),
$raised-text-color: rgb(255, 255, 255)
);

$name-boy-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$inputs-input-date-picker-copy-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$variant: 'dark'
);

$timeof-birth2-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$variant: 'dark'
);

$placeof-birth2-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$combo-box-4-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: igx-color($default-palette, grays, 200),
$border-background: transparent,
$variant: 'dark'
);

$inputs-input-border-copy15-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy22-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy13-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy16-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy14-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy12-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy11-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy10-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$inputs-input-border-copy9-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$variant: 'dark'
);

$clicktoedit2-theme: igx-checkbox-theme(
$fill-color: igx-color($default-palette, secondary),
$tick-color: rgb(255, 255, 255),
$variant: 'dark'
);


:host {
::ng-deep {
.navigation-navbar {
@include igx-navbar($navigation-navbar-theme);
}

.girl-name {
@include igx-input-group($girl-name-theme);
margin-top: 14px;
margin-left: 50px;

}

.dateof-birth1 {
@include igx-input-group($dateof-birth1-theme);
margin-top: 13px;
margin-left: 50px;

}

.timeof-birth1 {
@include igx-input-group($timeof-birth1-theme);
margin-top: 11px;
margin-left: 50px;

}

.placeof-birth1 {
@include igx-input-group($placeof-birth1-theme);
margin-top: 15px;
margin-left: 44px;

}

.combo-box {
@include igx-input-group($combo-box-theme);
}

.inputs-input-border {
@include igx-input-group($inputs-input-border-theme);
margin-left: 31px;

}

.inputs-input-border-copy {
@include igx-input-group($inputs-input-border-copy-theme);
margin-top: 1px;
margin-left: 34px;

}

.inputs-input-border-copy2 {
@include igx-input-group($inputs-input-border-copy2-theme);
margin-top: 1px;
margin-left: 35px;

}

.inputs-input-border-copy5 {
@include igx-input-group($inputs-input-border-copy5-theme);
margin-left: 35px;

}

.inputs-input-border-copy4 {
@include igx-input-group($inputs-input-border-copy4-theme);
margin-left: 34px;

}

.inputs-input-border-copy3 {
@include igx-input-group($inputs-input-border-copy3-theme);
margin-left: 34px;

}

.inputs-input-border-copy6 {
@include igx-input-group($inputs-input-border-copy6-theme);
margin-top: 2px;
margin-left: 31px;

}

.inputs-input-border-copy7 {
@include igx-input-group($inputs-input-border-copy7-theme);
margin-left: 34px;

}

.inputs-input-border-copy8 {
@include igx-input-group($inputs-input-border-copy8-theme);
margin-top: 2px;
margin-left: 33px;

}

.clicktoedit1 {
@include igx-checkbox($clicktoedit1-theme);
margin-top: 10px;
margin-left: 24px;

}

.combo-box-2 {
@include igx-input-group($combo-box-2-theme);
}

.submit-button {
@include igx-button($submit-button-theme);
margin-top: 33px;
margin-right: 331px;
margin-bottom: 13px;
margin-left: 364px;

}

.name-boy {
@include igx-input-group($name-boy-theme);
margin-top: 11px;
margin-left: 58px;

}

.inputs-input-date-picker-copy {
@include igx-input-group($inputs-input-date-picker-copy-theme);
margin-top: 17px;
margin-left: 53px;

}

.timeof-birth2 {
@include igx-input-group($timeof-birth2-theme);
margin-top: 15px;
margin-left: 58px;

}

.placeof-birth2 {
@include igx-input-group($placeof-birth2-theme);
margin-top: 15px;
margin-left: 58px;

}

.combo-box-4 {
@include igx-input-group($combo-box-4-theme);
}

.inputs-input-border-copy15 {
@include igx-input-group($inputs-input-border-copy15-theme);
margin-left: 28px;

}

.inputs-input-border-copy22 {
@include igx-input-group($inputs-input-border-copy22-theme);
margin-top: 1px;
margin-left: 32px;

}

.inputs-input-border-copy13 {
@include igx-input-group($inputs-input-border-copy13-theme);
margin-top: 1px;
margin-left: 31px;

}

.inputs-input-border-copy16 {
@include igx-input-group($inputs-input-border-copy16-theme);
margin-left: 32px;

}

.inputs-input-border-copy14 {
@include igx-input-group($inputs-input-border-copy14-theme);
margin-left: 32px;

}

.inputs-input-border-copy12 {
@include igx-input-group($inputs-input-border-copy12-theme);
margin-left: 32px;

}

.inputs-input-border-copy11 {
@include igx-input-group($inputs-input-border-copy11-theme);
margin-top: 1px;
margin-left: 28px;

}

.inputs-input-border-copy10 {
@include igx-input-group($inputs-input-border-copy10-theme);
margin-left: 32px;

}

.inputs-input-border-copy9 {
@include igx-input-group($inputs-input-border-copy9-theme);
margin-top: 2px;
margin-left: 33px;

}

.clicktoedit2 {
@include igx-checkbox($clicktoedit2-theme);
margin-top: 9px;
margin-left: 22px;

}

}
}
