@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/checkbox/checkbox-component';
@import '~igniteui-angular/lib/core/styles/components/checkbox/checkbox-theme';
@import '~igniteui-angular/lib/core/styles/components/time-picker/time-picker-component';
@import '~igniteui-angular/lib/core/styles/components/time-picker/time-picker-theme';
@import '~igniteui-angular/lib/core/styles/components/date-picker/date-picker-component';
@import '~igniteui-angular/lib/core/styles/components/date-picker/date-picker-theme';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-component';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.match-making-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.match-making {
color: igx-color($default-palette, grays, 900);
margin-top: 12px;
margin-left: 33px;

font-family: 'Big Caslon', 'Titillium Web', sans-serif;
font-weight: 500;
}
.title {
height: 105px;
min-height: 105px;
margin-top: 9px;
margin-right: 23px;
margin-left: 27px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.sub-title1 {
color: igx-color($default-palette, grays, 900);
margin-top: 12px;
margin-left: 45px;

height: 57px;
min-height: 57px;

}
.girl-name-1 {
width: 399px;
min-width: 399px;

}
.dateof-birth1-1 {
width: 400px;
min-width: 400px;

}
.timeof-birth1-1 {
width: 399px;
min-width: 399px;

}
.placeof-birth1-1 {
width: 405px;
min-width: 405px;

}
.longitude1 {
color: igx-color($default-palette, grays, 900);
margin-top: 8px;

font-weight: 600;
}
.inputs-input-border-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy2-1 {
width: 72px;
min-width: 72px;

}
.logitude {
margin-left: 4px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.latitude1 {
color: igx-color($default-palette, grays, 900);
margin-top: 0px;
font-weight: 600;
}
.inputs-input-border-copy5-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy4-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy3-1 {
width: 72px;
min-width: 72px;

}
.latitude {
margin-top: 12px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.zone-time1 {
color: igx-color($default-palette, grays, 900);
margin-top: 9px;

font-weight: 600;
}
.inputs-input-border-copy6-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy7-1 {
width: 72px;
min-width: 72px;

}
.inputs-input-border-copy8-1 {
width: 72px;
min-width: 72px;

}
.zone {
margin-top: 13px;
margin-left: 4px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.timezone2 {
color: igx-color($default-palette, secondary);
margin-top: 10px;
margin-left: 24px;

height: 28px;
min-height: 28px;

}
.coordinates1 {
height: 240px;
min-height: 240px;
margin-top: 6px;
margin-left: 15px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.left {
height: 667px;
min-height: 667px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.sub-title2 {
color: igx-color($default-palette, grays, 900);
margin-top: 8px;
margin-left: 72px;

height: 57px;
min-height: 57px;

}
.name-boy-1 {
width: 379px;
min-width: 379px;

}
.date1-1 {
width: 387px;
min-width: 387px;

}
.timeof-birth2-1 {
width: 382px;
min-width: 382px;

}
.placeof-birth2-1 {
width: 386px;
min-width: 386px;

}
.longitude {
color: igx-color($default-palette, grays, 900);
margin-top: 8px;

font-weight: 600;
}
.inputs-input-border-copy15-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy22-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy13-1 {
width: 66px;
min-width: 66px;

}
.longitude-1 {
margin-left: 4px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.latitude-copy {
color: igx-color($default-palette, grays, 900);
margin-top: 0px;
font-weight: 600;
}
.inputs-input-border-copy16-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy14-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy12-1 {
width: 66px;
min-width: 66px;

}
.latitude-1 {
margin-top: 11px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.zone-time {
color: igx-color($default-palette, grays, 900);
margin-top: 8px;

font-weight: 600;
}
.inputs-input-border-copy11-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy10-1 {
width: 66px;
min-width: 66px;

}
.inputs-input-border-copy9-1 {
width: 66px;
min-width: 66px;

}
.zone-1 {
margin-top: 11px;
margin-left: 4px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.time-zone2 {
color: igx-color($default-palette, secondary);
margin-top: 9px;
margin-left: 22px;

height: 28px;
min-height: 28px;

}
.coordinates2 {
width: 411px;
min-width: 411px;
height: 226px;
min-height: 226px;
margin: 16px 40px 0 auto;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}


            .right-vertical-centering-wrapper {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
            }
            
.right {
height: 666px;
min-height: 666px;
margin: auto 0 auto auto;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.content {
margin-top: 4px;
margin-right: 23px;
margin-left: 28px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.bottom {
height: 152px;
min-height: 152px;
margin-top: 4px;
margin-right: 23px;
margin-left: 28px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.screen {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgba(igx-color($default-palette, primary), .10);
}

@function get-palette($palette, $variant: 'light') {
$p: igx-color($palette, 'primary');
$s: igx-color($palette, 'secondary');
@return igx-palette($primary: $p,
$secondary: $s,
$grays: if($variant == 'light', #fff, #000)
);
}
@function get-schema($variant: 'light') {
@return map-get((
dark: $dark-schema,
light: $light-schema
), $variant);
}

$navigation-navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$girl-name-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$dateof-birth1-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$timeof-birth1-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$placeof-birth1-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy2-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy5-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy4-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy3-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy6-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy7-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy8-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$clicktoedit1-theme: igx-checkbox-theme(
$fill-color: igx-color($default-palette, secondary),
$tick-color: rgb(255, 255, 255),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$name-boy-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$date1-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$timeof-birth2-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$placeof-birth2-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy15-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy22-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy13-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy16-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy14-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy12-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy11-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy10-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$inputs-input-border-copy9-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: rgba(0, 0, 0, 0),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$clicktoedit2-theme: igx-checkbox-theme(
$fill-color: igx-color($default-palette, secondary),
$tick-color: rgb(255, 255, 255),
$schema: get-schema('dark'),
$palette: get-palette($default-palette, 'dark')
);

$submit-button-theme: igx-button-theme(
$raised-background: igx-color($default-palette, secondary, 600),
$raised-text-color: rgb(255, 255, 255)
);


:host {
::ng-deep {
.navigation-navbar {
@include igx-navbar($navigation-navbar-theme);
}

.girl-name {
@include igx-input-group($girl-name-theme);
margin-top: 14px;
margin-left: 50px;

}

.dateof-birth1 {
@include igx-input-group($dateof-birth1-theme);
margin-top: 13px;
margin-left: 50px;

}

.timeof-birth1 {
@include igx-input-group($timeof-birth1-theme);
margin-top: 11px;
margin-left: 50px;

}

.placeof-birth1 {
@include igx-input-group($placeof-birth1-theme);
margin-top: 15px;
margin-left: 44px;

}

.inputs-input-border {
@include igx-input-group($inputs-input-border-theme);
margin-left: 31px;

}

.inputs-input-border-copy {
@include igx-input-group($inputs-input-border-copy-theme);
margin: auto 0 auto 34px;

}

.inputs-input-border-copy2 {
@include igx-input-group($inputs-input-border-copy2-theme);
margin: auto 0 auto 35px;

}

.inputs-input-border-copy5 {
@include igx-input-group($inputs-input-border-copy5-theme);
margin-left: 35px;

}

.inputs-input-border-copy4 {
@include igx-input-group($inputs-input-border-copy4-theme);
margin-left: 34px;

}

.inputs-input-border-copy3 {
@include igx-input-group($inputs-input-border-copy3-theme);
margin-left: 34px;

}

.inputs-input-border-copy6 {
@include igx-input-group($inputs-input-border-copy6-theme);
margin: auto 0 auto 31px;

}

.inputs-input-border-copy7 {
@include igx-input-group($inputs-input-border-copy7-theme);
margin-left: 34px;

}

.inputs-input-border-copy8 {
@include igx-input-group($inputs-input-border-copy8-theme);
margin-top: 2px;
margin-left: 33px;

}

.clicktoedit1 {
@include igx-checkbox($clicktoedit1-theme);
margin-top: 10px;
margin-left: 24px;

}

.name-boy {
@include igx-input-group($name-boy-theme);
margin-top: 11px;
margin-left: 59px;

}

.date1 {
@include igx-input-group($date1-theme);
margin-top: 17px;
margin-left: 54px;

}

.timeof-birth2 {
@include igx-input-group($timeof-birth2-theme);
margin-top: 15px;
margin-left: 59px;

}

.placeof-birth2 {
@include igx-input-group($placeof-birth2-theme);
margin-top: 15px;
margin-left: 59px;

}

.inputs-input-border-copy15 {
@include igx-input-group($inputs-input-border-copy15-theme);
margin-left: 28px;

}

.inputs-input-border-copy22 {
@include igx-input-group($inputs-input-border-copy22-theme);
margin-top: 1px;
margin-left: 33px;

}

.inputs-input-border-copy13 {
@include igx-input-group($inputs-input-border-copy13-theme);
margin-top: 1px;
margin-left: 33px;

}

.inputs-input-border-copy16 {
@include igx-input-group($inputs-input-border-copy16-theme);
margin-left: 32px;

}

.inputs-input-border-copy14 {
@include igx-input-group($inputs-input-border-copy14-theme);
margin-left: 33px;

}

.inputs-input-border-copy12 {
@include igx-input-group($inputs-input-border-copy12-theme);
margin-left: 34px;

}

.inputs-input-border-copy11 {
@include igx-input-group($inputs-input-border-copy11-theme);
margin-top: 1px;
margin-left: 28px;

}

.inputs-input-border-copy10 {
@include igx-input-group($inputs-input-border-copy10-theme);
margin-left: 33px;

}

.inputs-input-border-copy9 {
@include igx-input-group($inputs-input-border-copy9-theme);
margin-top: 2px;
margin-left: 35px;

}

.clicktoedit2 {
@include igx-checkbox($clicktoedit2-theme);
margin-top: 9px;
margin-left: 22px;

}

.submit-button {
@include igx-button($submit-button-theme);
margin-top: 10px;
margin-left: 364px;

}

}
}
