<main class="igx-typography"><form>
<div class="horoscope-paid-service">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Horoscope" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="screen"><div class="title"><h2 class="igx-typography__h2 horoscope">Horoscope</h2>
</div>
<div class="full-horoscope-1"><h3 class="igx-typography__h3 full-horoscope">Full Horoscope</h3>
<span class="igx-typography__body-1 sample-p-d-f">Sample PDF</span>
<div class="checkbox2"><div class="checkbox">
<igx-checkbox 
>PDF
</igx-checkbox>
</div>

</div>
<div class="checkbox-copy">
<igx-checkbox 
>Hard copy
</igx-checkbox>
</div>

</div>
<div class="next-button">
<button igxRipple class="next-button-1" igxButton="raised" >Next</button>
</div>

</div>
</div></form></main>
