<main class="igx-typography"><form>
<div class="horoscope-paid-service">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Horoscope" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="colors-overlay10-row"><div class="colors-overlay10">
</div>
<div class="title"><h2 class="igx-typography__h2 horoscope">Horoscope</h2>
</div>
<div class="body"><div class="full-horoscope-row"><div class="full-horoscope-1"><h3 class="igx-typography__h3 full-horoscope">Full Horoscope</h3>
<span class="igx-typography__body-1 sample-p-d-f" (click)="onFHSample()">Sample PDF</span>
<div class="checkbox2"><div class="checkbox">
<igx-checkbox 
>PDF
</igx-checkbox>
</div>

</div>
<div class="checkbox-copy">
<igx-checkbox 
>Hard copy
</igx-checkbox>
</div>

</div>
<div class="medium-horoscope-1"><h3 class="igx-typography__h3 medium-horoscope">Medium Horoscope</h3>
<span class="igx-typography__body-1 sample-p-d-f-1">Sample PDF</span>
<div class="checkbox2-1"><div class="checkbox-1">
<igx-checkbox 
>PDF
</igx-checkbox>
</div>

</div>
<div class="checkbox-copy-1">
<igx-checkbox 
>Hard copy
</igx-checkbox>
</div>

</div>
<div class="a2-page-horoscope-1"><h3 class="igx-typography__h3 a2-page-horoscope">2 Page Horoscope</h3>
<span class="igx-typography__body-1 sample-p-d-f-2">Sample PDF</span>
<div class="checkbox2-2"><div class="checkbox-2">
<igx-checkbox 
>PDF
</igx-checkbox>
</div>

</div>
<div class="checkbox-copy-2">
<igx-checkbox 
>Hard copy
</igx-checkbox>
</div>

</div>
</div>
<div class="next-button">
<button igxRipple class="next-button-1" igxButton="raised" (click)="onNext()">Next</button>
</div>

</div>
</div>
</div></form></main>
