<main class="igx-typography"><form>
<div class="deposit-wallet">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Wallet Deposit" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="screen"><div class="title-1"><h2 class="igx-typography__h2 title">Add money to wallet</h2>
</div>
<div class="body"><div class="enter-amount">
<igx-input-group type="line" class="enter-amount-1" >
<input igxInput type="text" value="Enter Amount" />
<label igxLabel>Amount</label>
</igx-input-group>
</div>

<div class="payment-type">
<igx-combo type="line" 
class="payment-type-1" >
</igx-combo>
</div>

<div class="buy-button">
<button igxRipple igxButton="raised" >Go</button>
</div>

</div>
</div>
</div></form></main>
