@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-component';
@import '~igniteui-angular/lib/core/styles/components/ripple/ripple-theme';
@import '~igniteui-angular/lib/core/styles/components/button/button-component';
@import '~igniteui-angular/lib/core/styles/components/button/button-theme';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-component';
@import '~igniteui-angular/lib/core/styles/components/input/input-group-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	//overflow: auto;
    height: 100%;
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.login-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.mobile-no-1 {
width: 361px;
min-width: 361px;

}
.password-1 {
width: 361px;
min-width: 361px;

}
.forget-password {
margin-top: 13px;
margin-left: 165px;

text-decoration: underline;
color: igx-color($default-palette, primary);
}
.facebook-1 {
width: 379px;
min-width: 379px;
height: 50px;
min-height: 50px;

}
.googlelogin-1 {
width: 379px;
min-width: 379px;
height: 50px;
min-height: 50px;

}
.ifyouare-non-regis {
color: igx-color($default-palette, secondary);
margin-top: 0px;
height: 24px;
min-height: 24px;

}
.otp-login {
position: relative;
top: 23px;
left: -413px;
z-index: 2;

text-decoration: underline;
color: igx-color($default-palette, primary);
}
.ifyouare-non-regis-row {
margin-top: 28px;
margin-right: 121px;
margin-left: 124px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.content {
position: absolute;
top: 69px;
left: 183px;
z-index: 1;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.title {
color: igx-color($default-palette, primary);
margin-left: 99px;

margin-top: 0px;
width: 131px;
min-width: 131px;
height: 57px;
min-height: 57px;

font-family: 'Helvetica', 'Titillium Web', sans-serif;
text-align: center;
}
.login-1 {
width: 379px;
min-width: 379px;
height: 50px;
min-height: 50px;

}
.title-1 {
position: absolute;
top: 139px;
left: 324px;
z-index: 2;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.background-row {

position: relative;
padding: 0;
}

$navigation-navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$mobile-no-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$password-theme: igx-input-group-theme(
$idle-bottom-line-color: igx-color($default-palette, grays),
$box-background: transparent,
$border-background: transparent,
$variant: 'dark'
);

$facebook-theme: igx-button-theme(
$raised-background: igx-color($default-palette, info),
$raised-text-color: rgb(255, 255, 255)
);

$googlelogin-theme: igx-button-theme(
$raised-background: igx-color($default-palette, secondary, 900),
$raised-text-color: rgb(255, 255, 255)
);

$login-theme: igx-button-theme(
$raised-background: igx-color($default-palette, secondary, 400),
$raised-text-color: rgb(255, 255, 255)
);


:host {
::ng-deep {
.navigation-navbar {
@include igx-navbar($navigation-navbar-theme);
}

.mobile-no {
@include igx-input-group($mobile-no-theme);
margin-top: 241px;
margin-left: 150px;

}

.password {
@include igx-input-group($password-theme);
margin-top: 51px;
margin-left: 150px;

}

.facebook {
@include igx-button($facebook-theme);
margin: 76px auto 0 auto;

}

.googlelogin {
@include igx-button($googlelogin-theme);
margin: 13px auto 0 auto;

}

.login {
@include igx-button($login-theme);
margin-top: 347px;

}

}
}
