<main class="igx-typography"><form>
<div class="login-3">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Login" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="background-row">
<div class="colorswhite">
</div>
<span class="igx-typography__subtitle-1 ifyouare-non-regis">If you are Non-Registred user you can login through OTP</span>
<a class="igx-typography__body-1 otp-login" >Click here to login </a>
<div class="mobile-no">
<igx-input-group type="line" class="mobile-no-1" >
<input igxInput type="text" value="Enter your mobile no" />
<label igxLabel>Mobile No</label>
</igx-input-group>
</div>

<div class="password">
<igx-input-group type="line" class="password-1" >
<input igxInput type="text" value="Enter your password" />
<label igxLabel>Password</label>
</igx-input-group>
</div>

<div class="login">
<button igxRipple class="login-1" igxButton="raised" >Login</button>
</div>

<a class="igx-typography__body-1 forget-password" >Forget Password </a>
<h3 class="igx-typography__h3 login-2">Login </h3>
<div class="cancel-1">
<button igxRipple igxButton="flat" >Cancel</button>
</div>

</div>
</div></form></main>
