<main class="igx-typography"><form>
<div class="login-2">
<div class="navigation"><div class="navigation-navbar">
<!-- <igx-navbar (click)='backClicked()'
title="Login" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar> -->
</div>

</div>
<div class="colors-overlay10-row"><div class="colors-overlay10">
</div>
<div class="content"><div class="body" [formGroup]="loginForm" >
    <div class="mobile-no">
<igx-input-group type="line" class="mobile-no-1" >
<input igxInput type="text" formControlName="mobileno" />
<label igxLabel>Mobile No</label>
</igx-input-group>
<p style="color:red" id='err_mobileno'></p>
</div>

<div class="password">
<igx-input-group type="line" class="password-1" >
<input igxInput type="password" formControlName="password" />
<label igxLabel>Password</label>
</igx-input-group>
<p style="color:red" id='err_password'></p>
</div>

<a class="igx-typography__body-1 forget-password" >Forget Password </a>
<div class="login">
<button igxRipple class="login-1" igxButton="raised" [disabled]="!loginForm.valid" (click)='Login_Click()'>Login</button>
</div>

<div class="facebook">
<button igxRipple class="facebook-1" igxButton="raised" >FACEBOOK</button>
</div>

<div class="googlelogin">
<button igxRipple class="googlelogin-1" igxButton="raised" >GOOGLE</button>
</div>

<div class="ifyouare-non-regis-row"><span class="igx-typography__subtitle-1 ifyouare-non-regis">If you are Non-Registred user you can login through OTP</span>
<a class="igx-typography__body-1 otp-login" >Click here to login </a>
</div>
</div>
</div>
<div class="title-1"><h3 class="igx-typography__h3 title">Login </h3>
</div>
</div>
</div></form></main>
