<main class="igx-typography"><form>
<div class="delivery-address-1">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Delivery Address" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="screen-content"><div class="title"><h4 class="igx-typography__h4 delivery-address">Delivery Address</h4>
</div>
<div class="body"><div class="form-address"><div class="street">
<igx-input-group type="line" class="street-1" >
<input igxInput type="text" value="21 Commerce Str." />
<label igxLabel>Street, P.O. box, etc.</label>
</igx-input-group>
</div>

<div class="apartment">
<igx-input-group type="line" class="apartment-1" >
<input igxInput type="text" value="2nd business floor" />
<label igxLabel>Apt, suite, unit, etc.</label>
</igx-input-group>
</div>

<div class="country">
<igx-input-group type="line" class="country-1" >
<input igxInput type="text" value="United States" />
<label igxLabel>Country</label>
<igx-suffix>
<div class="country-2-suffix">
<igx-icon name="arrow_drop_down" ></igx-icon>
</div>
</igx-suffix>
</igx-input-group>
</div>

<div class="state">
<igx-input-group type="line" class="state-1" >
<input igxInput type="text" value="New Jersey" />
<label igxLabel>State/Province/County</label>
<igx-suffix>
<div class="state-2-suffix">
<igx-icon name="arrow_drop_down" ></igx-icon>
</div>
</igx-suffix>
</igx-input-group>
</div>

<div class="city">
<igx-input-group type="line" class="city-1" >
<input igxInput type="text" value="Cranbury" />
<label igxLabel>City</label>
</igx-input-group>
</div>

<div class="postal-code">
<igx-input-group type="line" class="postal-code-1" >
<input igxInput type="text" value="08512" />
<label igxLabel>Postal Code</label>
</igx-input-group>
</div>

<div class="checkbox">
<igx-checkbox 
class="checkbox-1" >Set as default shipping address
</igx-checkbox>
</div>

<div class="button">
<button igxRipple class="button-1" igxButton="raised" >Save</button>
</div>

</div>
</div>
</div>
</div></form></main>
