@import '~igniteui-angular/lib/core/styles/themes/utilities';
@import '~igniteui-angular/lib/core/styles/components/switch/switch-component';
@import '~igniteui-angular/lib/core/styles/components/switch/switch-theme';
@import '~igniteui-angular/lib/core/styles/components/checkbox/checkbox-component';
@import '~igniteui-angular/lib/core/styles/components/checkbox/checkbox-theme';
@import '~igniteui-angular/lib/core/styles/components/badge/badge-component';
@import '~igniteui-angular/lib/core/styles/components/badge/badge-theme';
@import '~igniteui-angular/lib/core/styles/components/avatar/avatar-component';
@import '~igniteui-angular/lib/core/styles/components/avatar/avatar-theme';
@import '~igniteui-angular/lib/core/styles/components/progress/progress-component';
@import '~igniteui-angular/lib/core/styles/components/progress/progress-theme';
@import '~igniteui-angular/lib/core/styles/components/list/list-component';
@import '~igniteui-angular/lib/core/styles/components/list/list-theme';
@import '~igniteui-angular/lib/core/styles/components/carousel/carousel-component';
@import '~igniteui-angular/lib/core/styles/components/carousel/carousel-theme';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-component';
@import '~igniteui-angular/lib/core/styles/components/icon/icon-theme';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-component';
@import '~igniteui-angular/lib/core/styles/components/navbar/navbar-theme';
@import '~igniteui-angular/lib/core/styles/components/card/card-component';
@import '~igniteui-angular/lib/core/styles/components/card/card-theme';

main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
	overflow: auto;
    height: 100%;
    background-color: rgba(igx-color($default-palette, primary), .10);
}

form {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}



.home-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.logo {
margin-top: 15px;
margin-left: 32px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.navigation {
margin-top: 10px;
margin-left: 2px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.image-size {
width: 100%;
height: 247px;
}

.image-fit {
object-fit: cover;
}

.slider-1 {
width: 100%;
height: 247px;
min-height: 247px;

}
.slider-2 {
margin-right: 4px;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
}

.horoscope {
width: 100%;

}
.astamangala {
margin-top: 2px;
margin-left: 132px;

width: 100%;

}
.mela-meli {
margin-top: 3px;
margin-left: 124px;

width: 100%;

}
.top-boxes {
margin-top: 24px;
margin-right: 102px;
margin-left: 78px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.horoscope-1 {
width: 100%;

}
.astamangala-1 {
margin-top: 2px;
margin-left: 132px;

width: 100%;

}
.mela-meli-1 {
margin-top: 3px;
margin-left: 124px;

width: 100%;

}
.centre-box {
margin-top: 16px;
margin-right: 102px;
margin-left: 78px;

display: flex;
flex-direction: row;
flex-shrink: 0;
padding: 0;
}

.sunrise-sunset-1 {
width: 100%;

}
.sunrise-sunset-2-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.sunrise-sunset-2-info {
display: flex;
flex-direction: column;
flex: 1;
line-height: 18px;
}
.sunrise-sunset-2-details {
display: flex;
flex-direction: column;
}
.sunrise-sunset-3 {
width: 100%;
height: 48px;
min-height: 48px;

}
.sunrise-sunset-4 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-1 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-5 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-2 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-3 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-6 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-4 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-5 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-7 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-6 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-7 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-8 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-8 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-9 {
color: igx-color($default-palette, grays, 900);
}
.first-box {
min-width:24%;
display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.sunrise-sunset-10 {
width: 100%;

}
.sunrise-sunset-11-container {
display: flex;
flex-direction: row;

justify-content: space-between;
align-items: center;
}
.sunrise-sunset-11-info {
display: flex;
flex-direction: column;
flex: 1;
line-height: 18px;
}
.sunrise-sunset-11-details {
display: flex;
flex-direction: column;
}
.sunrise-sunset-12 {
width: 100%;
height: 48px;
min-height: 48px;

}
.sunrise-sunset-13 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-10 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-11 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-14 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-12 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-13 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-15 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-14 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-15 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-16 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-16 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-17 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-17 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-18 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-19 {
color: igx-color($default-palette, grays, 900);
}
.second-box {
margin-left: 22px;
min-width: 24%;
display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.sunrise-sunset-19 {
width: 100%;

}
.sunrise-sunset-20-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.sunrise-sunset-20-info {
display: flex;
flex-direction: column;
flex: 1;
line-height: 18px;
}
.sunrise-sunset-20-details {
display: flex;
flex-direction: column;
}
.sunrise-sunset-21 {
width: 100%;
height: 48px;
min-height: 48px;

}
.sunrise-sunset-22 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-20 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-21 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-23 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-22 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-23 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-24 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-24 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-25 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-25 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-26 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-27 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-26 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-28 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-29 {
color: igx-color($default-palette, grays, 900);
}
.third-box {
margin-left: 22px;
min-width: 24%;

display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.sunrise-sunset-28 {
width: 100%;

}
.sunrise-sunset-29-container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.sunrise-sunset-29-info {
display: flex;
flex-direction: column;
flex: 1;
line-height: 18px;
}
.sunrise-sunset-29-details {
display: flex;
flex-direction: column;
}
.sunrise-sunset-30 {
width: 100%;
height: 48px;
min-height: 48px;

}
.sunrise-sunset-31 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-30 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-31 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-32 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-32 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-33 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-33 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-34 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-35 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-34 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-36 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-37 {
color: igx-color($default-palette, grays, 900);
}
.sunrise-sunset-35 {
width: 100%;
height: 48px;
min-height: 48px;

}
.list-itemtext-38 {
color: igx-color($default-palette, grays, 900);
}
.list-itemtext-39 {
color: igx-color($default-palette, grays, 900);
}
.fourth-box {
margin-left: 22px;
min-width: 24%;
display: flex;
flex-direction: column;
padding: 0;
flex-shrink: 0;
background-color: rgb(255, 255, 255);
}

.row {
margin-top: 16px;
margin-right: 17px;
margin-left: 17px;

display: flex;


flex-direction: row;

flex-shrink: 0;
padding: 0;
}


@media screen and (max-width: 420px) {
    .row {
        flex-direction: column;
    }
    .third-box{

        width: 325px;
        margin-left: 2px;
    }
    .first-box{

        width: 325px;
    }

    .second-box{

        width: 325px;
        margin-left: 2px;
    }

    .fourth-box{

        width: 325px;
        margin-left: 2px;
    }
    .mela-meli-1{
        width: 86%;
        margin-left: 3px;
        margin-bottom: 5px;
    }
    .astamangala-1{
        width: 86%;
        margin-left: 3px;
        margin-bottom: 5px;
    }
    .horoscope-1{
    width: 86%;
    margin-left: 3px;
    margin-bottom: 5px;
    }

    .centre-box{
        flex-direction: column;
        width: 332px;
        margin-left: 34px;
    }

    .top-boxes{
        flex-direction: column;
        width: 332px;
        margin-left: 34px;
    }
    .mela-meli{
        width: 86%;
        margin-left: 3px;
        margin-bottom: 5px;
    }
    .astamangala{
        width: 86%;
        margin-left: 3px;
        margin-bottom: 5px;
    }
    .horoscope{
    width: 86%;
    margin-left: 3px;
    margin-bottom: 5px;
    }

}
.astrolitein-all-r {
color: rgb(255, 255, 255);
margin: auto 392px auto 322px;

width: 100%;
height: 24px;
min-height: 24px;

font-weight: 600;
}
.footer {
margin: auto 0 0 0;

display: flex;
flex-direction: column;
padding: 15px;
flex-shrink: 0;
background-color: igx-color($default-palette, primary, 700);

margin-top: 9px;
margin-right: 6px;
margin-left: 15px;
}

@function get-palette($palette, $variant: 'light') {
$p: igx-color($palette, 'primary');
$s: igx-color($palette, 'secondary');
@return igx-palette($primary: $p,
$secondary: $s,
$grays: if($variant == 'light', #fff, #000)
);
}
@function get-schema($variant: 'light') {
@return map-get((
dark: $dark-schema,
light: $light-schema
), $variant);
}

$navigation-navbar-theme: igx-navbar-theme(
$background: igx-color($default-palette, primary),
$idle-icon-color: rgb(255, 255, 255),
$text-color: rgb(255, 255, 255)
);

$slider-theme: igx-carousel-theme(
$button-background: rgb(255, 255, 255),
$button-arrow-color: igx-color($default-palette, grays, 700),
$indicator-dot-color: rgb(255, 255, 255),
$indicator-active-border-color: rgb(255, 255, 255),
$disable-button-shadow: false
);

$sunrise-sunset-theme: igx-list-theme(
$header-background: rgb(255, 255, 255),
$header-text-color: igx-color($default-palette, secondary),
$item-text-color: igx-color($default-palette, grays, 900),
$item-background-active: rgb(255, 255, 255),
$background: rgb(255, 255, 255)
);

$sunrise-sunset-9-theme: igx-list-theme(
$header-background: rgb(255, 255, 255),
$header-text-color: igx-color($default-palette, secondary),
$item-text-color: igx-color($default-palette, grays, 900),
$item-background-active: rgb(255, 255, 255),
$background: rgb(255, 255, 255)
);

$sunrise-sunset-18-theme: igx-list-theme(
$header-background: rgb(255, 255, 255),
$header-text-color: igx-color($default-palette, secondary),
$item-text-color: igx-color($default-palette, grays, 900),
$item-background-active: rgb(255, 255, 255),
$background: rgb(255, 255, 255)
);

$sunrise-sunset-27-theme: igx-list-theme(
$header-background: rgb(255, 255, 255),
$header-text-color: igx-color($default-palette, secondary),
$item-text-color: igx-color($default-palette, grays, 900),
$item-background-active: rgb(255, 255, 255),
$background: rgb(255, 255, 255)
);


:host {
::ng-deep {
.navigation-navbar {
@include igx-navbar($navigation-navbar-theme);
margin-top: 1px;
margin-left: -298px;

}

.slider {
@include igx-carousel($slider-theme);
width: 100%;
height: 247px;
min-height: 247px;

}

.sunrise-sunset {
@include igx-list($sunrise-sunset-theme);
}

.sunrise-sunset-9 {
@include igx-list($sunrise-sunset-9-theme);
}

.sunrise-sunset-18 {
@include igx-list($sunrise-sunset-18-theme);
}

.sunrise-sunset-27 {
@include igx-list($sunrise-sunset-27-theme);
}

}
}
