<main class="igx-typography"><form>
<div class="home-1">
<div class="logo"><igx-card 
></igx-card>
</div>
<div class="navigation"><!-- No generator was found, skipping: _Overrides/Navbar/Content/Action Button Icon + Title -->
<div class="navigation-navbar">
<igx-navbar 
title="Home" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="slider-2"><div class="slider">
<igx-carousel class="slider-1" >
<igx-slide>
<div class="image-size">
<img class="image-fit" src="assets/29e6cd8e38cda3a96d033dda6803af5f5a45cf0f.png">
</div>
</igx-slide>
<igx-slide>
<div class="image-size">
<img class="image-fit" src="assets/29e6cd8e38cda3a96d033dda6803af5f5a45cf0f.png">
</div>
</igx-slide>
<igx-slide>
<div class="image-size">
<img class="image-fit" src="assets/29e6cd8e38cda3a96d033dda6803af5f5a45cf0f.png">
</div>
</igx-slide>
<igx-slide>
<div class="image-size">
<img class="image-fit" src="assets/29e6cd8e38cda3a96d033dda6803af5f5a45cf0f.png">
</div>
</igx-slide>
</igx-carousel>
</div>

</div>
<div class="top-boxes"><igx-card 
class="horoscope" ></igx-card>
<igx-card 
class="astamangala" ></igx-card>
<igx-card 
class="mela-meli" ></igx-card>
</div>
<div class="centre-box"><igx-card 
class="horoscope-1" ></igx-card>
<igx-card 
class="astamangala-1" ></igx-card>
<igx-card 
class="mela-meli-1" ></igx-card>
</div>
<div class="row"><div class="first-box"><div class="sunrise-sunset">
<igx-list class="sunrise-sunset-1" >
<igx-list-item isHeader="true" class="sunrise-sunset-3" >
IMPORT</igx-list-item>
<igx-list-item class="sunrise-sunset-4" >
<div class="sunrise-sunset-2-container" >
<div class="sunrise-sunset-2-info" >
<span class="list-itemtext igx-typography__subtitle-1">Tithi</span>
</div>
<span class="list-itemtext-1 igx-typography__subtitle-2">{{tithi}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-5" >
<div class="sunrise-sunset-2-container" >
<div class="sunrise-sunset-2-info" >
<span class="list-itemtext-2 igx-typography__subtitle-1">Day</span>
</div>
<span class="list-itemtext-3 igx-typography__subtitle-2">{{day}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-6" >
<div class="sunrise-sunset-2-container" >
<div class="sunrise-sunset-2-info" >
<span class="list-itemtext-4 igx-typography__subtitle-1">Nakshathra</span>
</div>
<span class="list-itemtext-5 igx-typography__subtitle-2">{{nakshathra}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-7" >
<div class="sunrise-sunset-2-container" >
<div class="sunrise-sunset-2-info" >
<span class="list-itemtext-6 igx-typography__subtitle-1">Yoga</span>
</div>
<span class="list-itemtext-7 igx-typography__subtitle-2">{{yoga}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-8" >
<div class="sunrise-sunset-2-container" >
<div class="sunrise-sunset-2-info" >
<span class="list-itemtext-8 igx-typography__subtitle-1">Karana</span>
</div>
<span class="list-itemtext-9 igx-typography__subtitle-2">{{karana}}</span>
</div>
</igx-list-item>
</igx-list>
</div>

</div>
<div class="second-box"><div class="sunrise-sunset-9">
<igx-list class="sunrise-sunset-10" >
<igx-list-item isHeader="true" class="sunrise-sunset-12" >
IMPORT</igx-list-item>
<igx-list-item class="sunrise-sunset-13" >
<div class="sunrise-sunset-11-container" >
<div class="sunrise-sunset-11-info" >
<span class="list-itemtext-10 igx-typography__subtitle-1">Shaali Vahana Shaka</span>
</div>
<span class="list-itemtext-11 igx-typography__subtitle-2">{{shaaliVahanaShaka}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-14" >
<div class="sunrise-sunset-11-container" >
<div class="sunrise-sunset-11-info" >
<span class="list-itemtext-12 igx-typography__subtitle-1">Samvathsara</span>
</div>
<span class="list-itemtext-13 igx-typography__subtitle-2">{{samvathsara}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-15" >
<div class="sunrise-sunset-11-container" >
<div class="sunrise-sunset-11-info" >
<span class="list-itemtext-14 igx-typography__subtitle-1">Ruthu</span>
</div>
<span class="list-itemtext-15 igx-typography__subtitle-2">{{ruthu}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-16" >
<div class="sunrise-sunset-11-container" >
<div class="sunrise-sunset-11-info" >
<span class="list-itemtext-16 igx-typography__subtitle-1">Saura Masa</span>
</div>
<span class="list-itemtext-17 igx-typography__subtitle-2">{{sauraMasa}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-17" >
<div class="sunrise-sunset-11-container" >
<div class="sunrise-sunset-11-info" >
<span class="list-itemtext-18 igx-typography__subtitle-1">Chandra Masa</span>
</div>
<span class="list-itemtext-19 igx-typography__subtitle-2">{{chaandraMasa}}</span>
</div>
</igx-list-item>
</igx-list>
</div>

</div>
<div class="third-box"><div class="sunrise-sunset-18">
<igx-list class="sunrise-sunset-19" >
<igx-list-item isHeader="true" class="sunrise-sunset-21" >
IMPORT</igx-list-item>
<igx-list-item class="sunrise-sunset-22" >
<div class="sunrise-sunset-20-container" >
<div class="sunrise-sunset-20-info" >
<span class="list-itemtext-20 igx-typography__subtitle-1">Sun Rise</span>
</div>
<span class="list-itemtext-21 igx-typography__subtitle-2">{{sunRise}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-23" >
<div class="sunrise-sunset-20-container" >
<div class="sunrise-sunset-20-info" >
<span class="list-itemtext-22 igx-typography__subtitle-1">Sun Set</span>
</div>
<span class="list-itemtext-23 igx-typography__subtitle-2">{{sunSet}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-24" >
<div class="sunrise-sunset-20-container" >
<div class="sunrise-sunset-20-info" >
<span class="list-itemtext-24 igx-typography__subtitle-1">Day Time</span>
</div>
<span class="list-itemtext-25 igx-typography__subtitle-2">{{dayTime}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-25" >
<div class="sunrise-sunset-20-container" >
<div class="sunrise-sunset-20-info" >
<span class="list-itemtext-26 igx-typography__subtitle-1">Moon Rise</span>
</div>
<span class="list-itemtext-27 igx-typography__subtitle-2">{{moonRise}}</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-26" >
<div class="sunrise-sunset-20-container" >
<div class="sunrise-sunset-20-info" >
<span class="list-itemtext-28 igx-typography__subtitle-1">Moon Set</span>
</div>
<span class="list-itemtext-29 igx-typography__subtitle-2">{{moonSet}}</span>
</div>
</igx-list-item>
</igx-list>
</div>

</div>
<div class="fourth-box"><div class="sunrise-sunset-27">
<igx-list class="sunrise-sunset-28" >
<igx-list-item isHeader="true" class="sunrise-sunset-30" >
IMPORT</igx-list-item>
<igx-list-item class="sunrise-sunset-31" >
<div class="sunrise-sunset-29-container" >
<div class="sunrise-sunset-29-info" >
<span class="list-itemtext-30 igx-typography__subtitle-1">Raahu Kaala</span>
</div>
<span class="list-itemtext-31 igx-typography__subtitle-2">12</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-32" >
<div class="sunrise-sunset-29-container" >
<div class="sunrise-sunset-29-info" >
<span class="list-itemtext-32 igx-typography__subtitle-1">Gulika Kaala</span>
</div>
<span class="list-itemtext-33 igx-typography__subtitle-2">7.10</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-33" >
<div class="sunrise-sunset-29-container" >
<div class="sunrise-sunset-29-info" >
<span class="list-itemtext-34 igx-typography__subtitle-1">Yamakantaka</span>
</div>
<span class="list-itemtext-35 igx-typography__subtitle-2">12.5</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-34" >
<div class="sunrise-sunset-29-container" >
<div class="sunrise-sunset-29-info" >
<span class="list-itemtext-36 igx-typography__subtitle-1">Taara Bala</span>
</div>
<span class="list-itemtext-37 igx-typography__subtitle-2">11.20</span>
</div>
</igx-list-item>
<igx-list-item class="sunrise-sunset-35" >
<div class="sunrise-sunset-29-container" >
<div class="sunrise-sunset-29-info" >
<span class="list-itemtext-38 igx-typography__subtitle-1">Chandra Bala</span>
</div>
<span class="list-itemtext-39 igx-typography__subtitle-2">10.11</span>
</div>
</igx-list-item>
</igx-list>
</div>

</div>
</div>
<div class="footer"><h6 class="igx-typography__h6 astrolitein-all-r">Astrolite.in @.All Rights Reserved </h6>
</div>
</div></form></main>
