<main class="igx-typography"><form [formGroup]="horoscopeForm"> 
<div class="horo-mobile">
<div class="signup-centering-wrapper"><div class="signup-2"><div class="content"><div class="title-1"><h4 class="igx-typography__h4 title">Horoscope</h4>
</div>
<div class="first-row"><div class="first-name">
<igx-input-group type="line" class="first-name-1" >
<input igxInput type="text" name="name" formControlName="name" />
<label igxLabel>Name</label>
</igx-input-group>
<p style="color:red" id='err_name'></p>
</div>

<div class="last-name">
<igx-input-group type="line" class="last-name-1" >
<input igxInput type="text" name="fatherName" formControlName="fatherName" />
<label igxLabel>Father Name</label>
</igx-input-group>
<p style="color:red" id='err_fatherName'></p>
</div>

</div>
<div class="second-row"><div class="mother-name">
<igx-input-group type="line" class="mother-name-1" >
<input igxInput type="text" name="motherName" formControlName="motherName" />
<label igxLabel>Mother Name</label>
</igx-input-group>
<p style="color:red" id='err_motherName'></p>
</div>

<div class="gotra">
<igx-input-group type="line" class="gotra-1" >
<input igxInput type="text" name="gotra" formControlName="gotra" />
<label igxLabel>Gotra</label>
</igx-input-group>
<p style="color:red" id='err_gotra'></p>
</div>

</div>
<div class="third-row"><div class="date1">
<igx-datePicker class="date1-1" name="birthDate" [formatter]="formatter" formControlName="birthDate" label="Birth Date" >
</igx-datePicker>
<p style="color:red" id='err_birthDate'></p>
</div>

<div class="birth-time">
<igx-time-picker class="birth-time-1" name="birthTime" formControlName="birthTime" >
</igx-time-picker>
<p style="color:red" id='err_birthTime'></p>
</div>

</div>
<div class="fourth-row"><span class="igx-typography__body-1 gender-text">Gender</span>
<div class="gender-option">
<igx-radio-group formControlName="gender">
<div class="gender-option-1">
<igx-radio value="M">
Male
</igx-radio>
</div>

<div class="gender-option-2">
<igx-radio value="F">
Female
</igx-radio>
</div>
<p style="color:red" id='err_gender'></p>
</igx-radio-group>
</div>
<!-- <igx-radio-group formControlName="gender">
<igx-radio *ngFor="let gender of genders"
    name="gender"
    [value]="gender.hex"
    [(ngModel)]="selectedColor">
    {{gender.name}}
</igx-radio>
</igx-radio-group> -->
</div>
<div class="sixth-row">
    <div class="time-zone">
        <igx-combo type="box" #timeFormatCombo [data]="timeformats" [displayKey]="'Text'" [valueKey]="'Id'" class="time-zone-1" placeholder="Select Time Format"
            (onSelectionChange)="timeFormat_selectionChange($event)" formControlName="timeformat" value="'timeformats[0].Id'">
        </igx-combo>
    </div>
<!-- <div class="time-zone">
        <igx-combo #combo class="input-container" width="500px" [itemsMaxHeight]="255" [data]="timeformats"
                [displayKey]="'Text'" [valueKey]="'Id'" formControlName="FemaleTimeformat" placeholder="Select"
                searchPlaceholder="Search..." (onSelectionChange)="selectionChange($event)">
        </igx-combo>
</div> -->
<div class="pagesize">
<igx-combo type="box" #pageSizecombo (onSelectionChange)="pageSize_selectionChange($event)" formControlName="pageSize"
[data]="pageSizes" [displayKey]="'Text'" [valueKey]="'Id'" class="pagesize-1" placeholder="Page Size" >
</igx-combo>
</div>

</div>
<div class="seventh-row"><div class="place-search">
<igx-input-group type="search" class="place-search-1" id="txtHome">
<igx-prefix>
<div class="place-search-2-prefix">
<igx-icon
>search</igx-icon>
</div>
</igx-prefix>
<input igxInput type="text" formControlName="birthPlace">
<!-- <label igxLabel>Search Place</label> -->
</igx-input-group>
<p style="color:red" id='err_birthPlace'></p>
</div>

<div class="language">
<igx-combo type="box" #languagecombo (onSelectionChange)="language_selectionChange($event)" formControlName="language"
[data]="languages" [displayKey]="'Text'" [valueKey]="'Id'" class="language-1" placeholder="Select Language" >
</igx-combo>
</div>

</div>
<div class="langitude">
    <span class="igx-typography__body-1 latitude">Latitude</span>
<div class="long1">
<igx-input-group type="border" class="long1-1" >
<!-- <input igxInput type="text" name="LatDeg" formControlName="LatDeg" [(ngModel)]="horoRequest.LatDeg" [disabled]="!enabletoEdit"/> -->
<input igxInput type="text" name="LatDeg" formControlName="LatDeg" [disabled]="!enabletoEdit"/>
</igx-input-group>
</div>

<div class="long2">
<igx-input-group type="border" class="long2-1" >
<!-- <input igxInput type="text" name="LatMt" formControlName="LatMt" [(ngModel)]="horoRequest.LatMt" [disabled]="!enabletoEdit"/> -->
<input igxInput type="text" name="LatMt" formControlName="LatMt" [disabled]="!enabletoEdit"/>
</igx-input-group>
</div>

<div class="long3">
<igx-input-group type="border" class="long3-1" >
<!-- <input igxInput type="text" name="NS" formControlName="NS" [(ngModel)]="horoRequest.NS" [disabled]="!enabletoEdit"/> -->
<input igxInput type="text" name="NS" formControlName="NS" [disabled]="!enabletoEdit"/>
</igx-input-group>
</div>

</div>
<div class="latitude-1">
    <span class="igx-typography__body-1 longitude">Longitude</span>
<div class="lat1">
<igx-input-group type="border" class="lat1-1" >
<!-- <input igxInput type="text" name="LongDeg" formControlName="LongDeg" [(ngModel)]="horoRequest.LongDeg" [disabled]="!enabletoEdit"/> -->
<input igxInput type="text" name="LongDeg" formControlName="LongDeg" [disabled]="!enabletoEdit"/>
</igx-input-group>
</div>

<div class="lat2">
<igx-input-group type="border" class="lat2-1" >
<!-- <input igxInput type="text" name="LongMt" formControlName="LongMt" [(ngModel)]="horoRequest.LongMt" [disabled]="!enabletoEdit" /> -->
<input igxInput type="text" name="LongMt" formControlName="LongMt" [disabled]="!enabletoEdit" />
</igx-input-group>
</div>

<div class="lat3">
<igx-input-group type="border" class="lat3-1" >
<!-- <input igxInput type="text" name="EW" formControlName="EW" [(ngModel)]="horoRequest.EW" [disabled]="!enabletoEdit"/> -->
<input igxInput type="text" name="EW" formControlName="EW" [disabled]="!enabletoEdit"/>
</igx-input-group>
</div>

</div>
<div class="zone-1">
    <span class="igx-typography__body-1 zone">Zone</span>
<div class="zone1">
<igx-input-group type="border" class="zone1-1" >
<!-- <input igxInput type="text" name="ZH" formControlName="ZH" [(ngModel)]="horoRequest.ZH" [disabled]="!enabletoEdit" /> -->
<input igxInput type="text" name="ZH" formControlName="ZH" [disabled]="!enabletoEdit" />
</igx-input-group>
</div>

<div class="zone2">
<igx-input-group type="border" class="zone2-1" >
<!-- <input igxInput type="text" name="ZM" formControlName="ZM" [(ngModel)]="horoRequest.ZM" [disabled]="!enabletoEdit"/> -->
<input igxInput type="text" name="ZM" formControlName="ZM" [disabled]="!enabletoEdit"/>
</igx-input-group>
</div>

<div class="zone3">
<igx-input-group type="border" class="zone3-1" >
<!-- <input igxInput type="text" name="PN" formControlName="PN" [(ngModel)]="horoRequest.PN" [disabled]="!enabletoEdit"/> -->
<input igxInput type="text" name="PN" formControlName="PN" [disabled]="!enabletoEdit"/>
</igx-input-group>
</div>

</div>
<span class="igx-typography__body-1 time-zone-2">Time Zone: {{timeZoneName}}</span>
<div class="checkbox">
<igx-checkbox 
class="checkbox-1" [checked]="checkBoxValue" (click)="checkBoxStateChanged()">
Click here to edit
</igx-checkbox>
</div>

<div class="signup">
<button igxRipple class="signup-1" [disabled]="!horoscopeForm.valid" (click)="submit_click()" igxButton="raised" >Submit</button>
</div>

</div>
</div>
</div>
</div></form></main>
