<main class="igx-typography"><form>
<div class="horoscope-1">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Horoscope" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="background-row">
<div class="title"><h2 class="igx-typography__h2 horoscope">Horoscope</h2>
</div>
<div class="content"><h3 class="igx-typography__h3 sub-title">Enter Details</h3>
<div class="name-row"><div class="name-2"><div class="name-row1"><div class="name">
<igx-input-group type="line" class="name-1" >
<input igxInput type="text" value="Rajesh" />
<label igxLabel>Name</label>
</igx-input-group>
</div>

<div class="father-name">
<igx-input-group type="line" class="father-name-1" >
<input igxInput type="text" value="Rama" />
<label igxLabel>Father Name</label>
</igx-input-group>
</div>

</div>
<div class="mother-name">
<igx-input-group type="line" class="mother-name-1" >
<input igxInput type="text" value="Reshma" />
<label igxLabel>Mother Name</label>
</igx-input-group>
</div>

</div>
<div class="time-format">
<igx-combo type="box" 
class="time-format-1" placeholder="Select Format" >
</igx-combo>
</div>

</div>
<div class="gender-row"><span class="igx-typography__subtitle-1 gender">Gender</span>
<div class="dateof-bith">
<igx-datePicker class="dateof-bith-1" label="Date" >
</igx-datePicker>
</div>

<div 
class="radio-group"><igx-radio-group >
<div class="radio-group-1">
<igx-radio value="Male">
Male
</igx-radio>
</div>

<div class="radio-group-2">
<igx-radio value="Female">
Female
</igx-radio>
</div>

</igx-radio-group></div>
 
<div class="timeof-birth">
<igx-time-picker class="timeof-birth-1" >
</igx-time-picker>
</div>

</div>
<div class="birth-place">
<igx-input-group type="line" class="birth-place-1" >
<input igxInput type="text" value="Mangalore" />
<label igxLabel>Birth Place</label>
</igx-input-group>
</div>

<div class="coordinates"><div class="longitude-row"><div class="longitude">Longitude</div>
<div class="inputs-input-border-copy24">
<igx-input-group type="border" class="inputs-input-border-copy24-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy25">
<igx-input-group type="border" class="inputs-input-border-copy25-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy26">
<igx-input-group type="border" class="inputs-input-border-copy26-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

</div>
<div class="latitude-row"><div class="latitude">Latitude</div>
<div class="inputs-input-border-copy27">
<igx-input-group type="border" class="inputs-input-border-copy27-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy29">
<igx-input-group type="border" class="inputs-input-border-copy29-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy30">
<igx-input-group type="border" class="inputs-input-border-copy30-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

</div>
<div class="zone-row"><div class="zone">Zone Time</div>
<div class="inputs-input-border-copy28">
<igx-input-group type="border" class="inputs-input-border-copy28-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy31">
<igx-input-group type="border" class="inputs-input-border-copy31-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

<div class="inputs-input-border-copy32">
<igx-input-group type="border" class="inputs-input-border-copy32-1" >
<input igxInput type="text" value="15" />
</igx-input-group>
</div>

</div>
<span class="igx-typography__body-1 time-zone">Time Zone    : Indian Time Zone</span>
<div class="editbutton">
<igx-checkbox 
>Click here to edit
</igx-checkbox>
</div>

</div>
<div class="submit">
<button igxRipple class="submit-1" igxButton="raised" >Submit</button>
</div>

</div>
</div>
</div></form></main>
