<main class="igx-typography"><form>
<div class="payment-1">
<div class="navigation"><div class="navigation-navbar">
<igx-navbar 
title="Payment" actionButtonIcon="arrow_back" >
<igx-icon name="more_vert" ></igx-icon>
</igx-navbar>
</div>

</div>
<div class="background-row">
<div class="title"><h2 class="igx-typography__h2 payment">Payment </h2>
</div>
<div class="content"><span class="igx-typography__body-1 coupon-note">If you have a coupon code please enter here</span>
<div class="coupon-code-row"><div class="coupon-code">
<igx-input-group type="line" class="coupon-code-1" >
<input igxInput type="text" value="Enter Coupon Code" />
<label igxLabel>Coupon</label>
</igx-input-group>
</div>

<div class="apply-button">
<button igxRipple class="apply-button-1" igxButton="raised" >Apply</button>
</div>

</div>
<div class="checkbox">
<igx-checkbox 
>Pay using Astrolite wallet (Wallet Balce )
</igx-checkbox>
</div>

<div class="continue-button">
<button igxRipple igxButton="raised" >Continue</button>
</div>

</div>
<span class="igx-typography__body-1 actual-price1200">Actual Price :   120.00</span>
<span class="igx-typography__body-1 order-total">Order Total</span>
<span class="igx-typography__body-1 discount0000">Discount.     :    00.00</span>
<span class="igx-typography__body-1 total-price1200">Total Price.  :    120.00</span>
<div class="combo-line">
<igx-combo type="line" 
class="combo-line-1" placeholder="Select Payment Method" >
</igx-combo>
</div>


</div>
</div></form></main>
